.page-article{
    .main-menu {
     position:relative;
    }
    .main{
        height: unset;
        @media only screen and(max-width: 991px){
            padding-top: 85px;
        }
    }
}
.container__article{
    width: 100%;
    margin: 0 auto;
    h4{
        font-size: em(20);
        line-height: 1.3;
        letter-spacing: 0.040em;
        @media only screen and (max-width: 767px){
            font-size: 20px;
            line-height: 26px;
            letter-spacing: .8px;
        }
    }
    .container__article-img{
        margin-bottom: em(30);
    }
    .article{
        &-wrapper{
            max-width: em(970.5);
            margin: 0 auto;
            padding-top: 57px;
            @media only screen and (max-width: 767px){
                max-width: 100%;
                padding: 0px 30px;
                padding-top: 60px;
            }
        }
        &-heading{
        }
        &-date{
            margin-bottom: em(14);
            @media only screen and (max-width: 767px){
                margin-bottom: 15px;
            }
            h6{
                font-size: em(16);
                line-height: 1.37;
                color: #3C3C3C;
                @media only screen and (max-width: 767px){
                    font-size: 16px;
                }
            }
        }
        &-title{
            margin-bottom: em(4);
            @media only screen and (max-width: 767px){
                margin-bottom: 7px;
            }
            h1{
                font-size: em(36);
                font-family: 'ShinGoPro', sans-serif;
                color: #E73820;
                line-height: 1.33;
                letter-spacing: 0.12em;
                @media only screen and (max-width: 767px){
                    font-size: 26px;
                    line-height: 26px;
                }
            }
        }
        &-subtitle{
            @media only screen and (max-width: 767px){
                margin-bottom: 22px;
            }
            h4{
                color: #3C3C3C;
                margin-bottom: em(26);
            }
        }
        &-content{
            display: block;
            overflow: hidden;
            @media only screen and (max-width: 767px){
                margin-bottom: 30px;
            }
            p,h5{
                margin-bottom: em(30) !important;
                display: inline;
            }
            p,h5{
                font-family: Arial, Helvetica, sans-serif;
                font-size: em(16);
                line-height: 1.75;
                color: #3C3C3C;
                letter-spacing: em(0.48);
                @media only screen and (max-width: 767px){
                    font-size: 16px;
                    letter-spacing: 28px;
                    letter-spacing: .48px;
                }
            }
            p{
            }
            h5{
                font-weight: bold;
                color: #E73820;
            }
            ul{
                list-style-type: none;
                margin-bottom: em(30) !important;
            }
            li{
                font-size: em(16);
                padding-left: em(43);
                position: relative;
                font-family: Arial, Helvetica, sans-serif;
                line-height: 1.75;
                letter-spacing: em(0.48);
                @media only screen and (max-width: 767px){
                    font-size: 16px;
                    letter-spacing: 28px;
                    letter-spacing: .48px;
                }
                &::before{
                    content: '';
                    background: url(../img/Elipse-Bullet.svg) center center/contain no-repeat;
                    display: block;
                    position: absolute;
                    // background-color: #fff;
                    // border-radius: 50%;
                    // border: 2px solid #E73820;
                    width: em(10);
                    height: em(10);
                    top: 50%;
                    left: 2%;
                    transform:translateY(-50%);
                }
            }
        }
        &-img{
            width: 100%;
            height: auto;
            &-wrapper{
                max-width: 100%;
                height: auto;
                width: 100%;
            }
        }
    }
    .article-content-wrapper{
        padding: em(30) 0 em(50) 0;
        border-bottom: 3px #EFEFEF solid;
    }
    .paragraph-title{
        color: #E73820;
        margin-bottom: em(7);
        font-weight: bold;
    }
    .btn__article-download{
        margin-bottom: em(40.5);
        @media only screen and (max-width: 767px){
            margin-bottom: 40px;
        }
    }
    .caption-wrapper{
        margin-top: em(12);
        &.align-center{
            display: flex;
            justify-content: center;
            align-items: center;
            @media only screen and (max-width: 767px){
             display: inline;
            }
        }
        span{
            font-family: Arial, Helvetica, sans-serif;
            font-size: em(14);
            line-height: 1.57;
            color: #BDC1C4;
            &:first-child{
                font-weight: bold;
            }
            @media only screen and (max-width: 767px){
                font-size:  14px;
                line-height: 16px;
                letter-spacing: 0px;
            }
        }
    }
    .container__paragraph-img{
        max-width: em(362);
        display: block;
        float: right;
        width: 100%;
        padding-left: em(40);
        @media only screen and (max-width: 767px){
            max-width: 100%;
            padding: 0;
            float: unset;
        }
    }
    .article-quote-wrapper{
        padding: em(58) em(38);
        position: relative;
        text-align: center;
        display: flex;
        margin: em(40) 0;
        border-top: 3px #EFEFEF solid;
        border-bottom: 3px #EFEFEF solid;
        @media only screen and (max-width: 767px){
            margin: 35px 0px;
        }
        &::before{
            content: '';
            background: url(../img/quote-img.svg) center center/contain no-repeat;
            display: block;
            position: absolute;
            // background-color: #fff;
            // border-radius: 50%;
            // border: 2px solid #E73820;
            width: em(45);
            height: em(45);
            top: 0;
            left: 0;
            // transform:translateY(-50%);
            transform: translate(15%,-68%);
            @media only screen and (max-width: 767px){
                width: 45px;
                height: 45px;
            }
        }
        span{
            font-size:  em(26);
            line-height: 1.38;
            letter-spacing: em(1.04);
            color: #E73820;
            font-weight: bold;
            @media only screen and (max-width: 767px){
                font-size:  26px;
                line-height: 1.38;
                letter-spacing: 1.04px;
            }
            
        }
    }
}

.back-to-top-wrapper{
    margin: em(60) 0;
    @media only screen and (max-width: 767px){
        max-width:100%;
        padding: 0 30px;
        margin: 50px 0;
    }
}
.btn__back-to-top{
    position: relative;
    &::before{
        content: '';
        background: url(../img/btn-back2top-img.svg) center center/contain no-repeat;
        display: block;
        position: absolute;
        // background-color: #fff;
        // border-radius: 50%;
        // border: 2px solid #E73820;
        width: em(40);
        height: em(40);
        top: 50%;
        left: 0;
        // transform:translateY(-50%);
        transform: translate(-2%,-68%);
        @media only screen and (max-width: 767px){
            width: 40px;
            height: 40px;
        }
    }
}
.btn__article-download{
    position: relative;
    &::before{
        content: '';
        background: url(../img/btn-download-img.svg) center center/contain no-repeat;
        display: block;
        position: absolute;
        // background-color: #fff;
        // border-radius: 50%;
        // border: 2px solid #E73820;
        width: em(40);
        height: em(40);
        top: 50%;
        left: 0%;
        // transform:translateY(-50%);
        transform: translate(-2%,-68%);
        @media only screen and (max-width: 767px){
            width: 40px;
            height: 40px;
        }
    }
}
.container__sompo-table{
    position: relative;
    margin-bottom: em(30);
}
.sompo-table-wrapper{
    @media only screen and (max-width: 767px){
        overflow-x:scroll;  
        margin-left: 133px;
        
    }
}
.sompo-table{
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    overflow:hidden;
    table-layout: fixed;
    @media only screen and (max-width: 767px){
        table-layout: auto;
    }
    thead{
        border-bottom: 5px #E73820 solid;
    }
    th,td{
        word-break: break-word;
        @media only screen and (max-width: 767px){
            word-break: unset;
        }
    }
    th{
        font-size: em(14);
        line-height: 1.28;
        letter-spacing: 0.020em;
        background-color: #FAFAFA;
        text-align: center;
        padding: 0.857em;
        color: #3C3C3C;
        max-width: 80x;
        @media only screen and (max-width: 767px){
            font-size: 14px;
            letter-spacing: .28px;
            padding: 10px;
            white-space: nowrap;
            &:nth-child(1){
                background-color: #FAFAFA;
                position: absolute;
                left: 0;   
                width: 136px;
                height: 59px;
                border-bottom: 5px #E73820 solid;
                box-shadow: 35px 0px 22px -27px black;
            }
        }
    }
    tbody{
        tr{
            &:nth-child(even){
                td{
                    background-color: #EFEFEF;
                }
            }
            td{
            background-color: #FAFAFA;
        }
        border-bottom:5px solid #fff;

        }
        td{
            font-size: em(14);
            line-height: 1.57;
            letter-spacing: 0.020em;
            text-align: center;
            padding: 1.071em 0;
            color: #3C3C3C;
            @media only screen and (max-width: 767px){
                font-size: 14px;
                letter-spacing: .28px;
                padding: 15px 0;
                padding: 15px 10px;
                white-space: nowrap;
            }
            span{
                font-size: em(12);
                line-height: 1.83;
                letter-spacing: 0.020em;
                color: #A5A5A5;
                margin-right: 10px;
                @media only screen and (max-width: 767px){
                    font-size: 12px;
                    letter-spacing: .24px;
                }
            }
            &:nth-child(1),&:nth-child(6),&:nth-child(8),&:nth-child(9){
                font-weight: bold;
            }
        }
        //mobile
        td{
            @media only screen and (max-width: 767px){
                &:nth-child(1){
                    position: absolute;
                    left: 0;
                    box-shadow: 35px 0px 16px -25px black;
                    
                }
            }
        }
    }

}
