.btn__standard{
    background-color: #E73820;
    border-radius: em(50);
    display: inline-block;
    text-decoration: none;
    @media only screen and (max-width: 767px){
        border-radius: 50px;
        width: 100%;
        text-align: center;
    }
    span{
        font-size: em(16);
        color: #fff;
        line-height: 1.37;
        margin: em(15) em(23) em(15) em(52);
        font-family: Helvetica, Arial, sans-serif;
        display: block;
        font-weight: bold;
        letter-spacing: em(.64);
        @media only screen and (max-width: 767px){
            font-size: 16px;
            // line-height: 32px;
            width: 100%;
            margin: 15px 0px;
        }
    }
}