footer {
    padding:1.125em 0;
    background-color:#CCCCCC;
    position:relative;
    z-index:9;
    font-size: 0.833vw;
    // width:calc(100vw - 3.126em);
    width:100vw;
    position: relative;
    @media screen and (max-width:767px) {
        // font-size:2vw;
        padding: 50px 0px;
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }

    .footer-logo {
        padding:0 0.938em;
        width:10.875em;
        margin-left:1.563em;
        img {
            width:100%;
        }

        @media screen and (max-width:767px) {
            width: 183px;
            height: 58px;
            display: block;
            position: relative;
            margin: 0 auto;
            padding: 0;
            margin-bottom: 50px;
        }
    }

    .footer-copyright {
        position:absolute;
        right:2.500em;
        bottom: 50%;
        transform: translateY(50%);
        @media screen and (max-width:767px) {
            position: relative;
            right:0;
            bottom: 0;
            transform: translateY(0);
        }
        p {
            font-size:0.750em;
            font-weight:100;
            color:#000;
            letter-spacing: 0.025em;
            padding: 0.625em 0em;

            @media screen and (max-width:767px) {
                font-size: 12px;
                line-height: 20px;
                margin: 0;
                padding: 0;
            }
        }

        ul {
            list-style-type:none;
            margin:0;
            padding:0;
            li {
                font-size:0.750em;
                display:inline-block;
                border-right:1px solid #000;
                padding-right:0.583em;
                padding-left:0.417em;
                @media only screen and (max-width: 767px){
                    display: block;
                    border: 0px;
                    padding: 0;
                    margin-bottom: 25px;
                }
                &:first-child {
                    padding-left:0;
                }
                &:last-child {
                    padding-right:0;
                    border-right:0;
                }
                a {
                    font-size:1em;
                    color: #000;
                    text-decoration: underline;
                    @media only screen and (max-width: 767px){
                        font-size: 14px;
                        line-height: 20px;
                    }
                    &:hover {
                    text-decoration:none;
                    }
                }
            }
        }
    }
}
