
$browser-context: 16; // Default
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

@font-face {
  font-family: 'ShinGoPro';
  src: url('../../fonts/A-OTF-ShinGoPro-Bold.otf');
  font-weight: bold;
  font-style: normal;
}



html {
  // width:100%;
  // height:100%;
}

body {
    font-size: 1.171vw;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color:#fff;
    font-family: Helvetica, Arial, sans-serif;
    position:relative;
    // height:100%;
    // width:100vw;
    overflow-x:hidden;
    @media only screen and (max-width: 767px){
      overflow-y:scroll !important;
    }
}

* {
  outline: none !important;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main{
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.animate {
  opacity:0; 

}
.no-scroll {
  overflow:hidden;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.text-underline {
  text-decoration: underline;
}


.page-permission {
  .wrapper {
    min-height:calc(100vh - 12.875em);
  }
}

.back-to-top-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-game-layer{
  position: absolute;
  height: 100%;
  width: 100%;
  @media only screen and (max-width: 767px){
    height: 582px;    
  }
}
.block-layer{
  @media only screen and (max-width: 767px){
    position: relative !important;
    width: 100% !important;
    top: 0 !important;
    left: 0 !important;
    transform: translate(0) !important;
  }
}

// SCROLLBAR
::-webkit-scrollbar {
  width: em(7);
  @media only screen and (max-width: 767px){
    width: 3px;
  }
}
::-webkit-scrollbar-track {
background-color: rgba(255, 255, 255, 0.8);
border-radius: em(10);
}

::-webkit-scrollbar-thumb {
background: #E73820; 
border-radius: em(10);
}
.line-separator{
  width: 100%;
  height: 1px;
  background-color: #E73820;
  border: 2.5px solid #E73820;
  border-radius: 50px;
}
.opac-0{
  opacity: 0;
}