.modal-box {
    position:fixed;
    top:0;
    left:0;
    right:0;
    width:100vw;
    height:100vh;
    background-color:rgba(0,0,0,0.5);
    z-index:9999;
    display:none;
    backface-visibility: hidden;
    transform:translate3d(0,0,0);
}

.grid-box {
    width:em(1152);
    height:em(648);
    margin:0 auto;
    background-color:#ccc;
    position:absolute;
    left:0;
    right:0;
    top:50%;
    transform:translateY(-50%);
    display:none;

    @media screen and (max-width:768px) {
        font-size:1.2vw;
    }

    @media screen and (max-width:767px) {
        width:100vw;
        height:100vh;
        text-align:center;
        font-size: 2.5vw;
        overflow-x: hidden;
        overflow-y: auto;
    }

    &.center-content {
        text-align:center;

        .grid-image {
            position:absolute;
            width:100%;
            height:100%;
            top:0;

            
        }
    }

    h2 {
        font-family: 'Palatino';
        font-size:em(72);
        font-weight:400;
        color:#fff;
        line-height:1.2;
        letter-spacing: 0.02em;
        margin:0 0 0.250em 0;
    }

    p {
        font-size:em(21);
        line-height:2;
        color:#fff;
        letter-spacing: 0.07em;
        margin:0;
    }

    .btn-close {
        position:absolute;
        z-index:5;
        right:em(25);
        top:em(25);
        width:em(27);
        height:em(27);
        cursor:pointer;

        svg, img {
            width:100%;
            height:100%;
        }
    }

    .grid-image {
        position:relative;
        z-index:1;
        width:100%;
        height:100%;
        @media screen and (max-width:767px) {
            position:relative !important;
            width:100% !important;
            margin:0 auto 40px;
            height:auto !important;
        }
        .character-canvas {
            position:relative;
            width:em(1152) !important;
            height:auto !important;
            top:0;
            background-color:transparent;
            pointer-events: none;
            margin:0 auto;
            left:0; 
            right:0;
            @media screen and (max-width:767px) {
                width:100% !important;
            }
        }
        img {
            width:100%;
            height:100%;
            object-fit: cover;
            @media screen and (max-width:767px) {
                width:auto;
                max-width:100%;
                margin:auto;
            }
            &.watermark {
                position: absolute;
                top: 50%;
                transform:translateY(-50%);
                width:100%;
            }
        }


    }


    .grid-content {
        position:absolute;
        z-index:2;
        // width:calc(100% - 16.25em);
        // height:calc(100% - 16.25em);
        // padding:em(130);
        top:8.125em;
        left:8.125em;

        @media screen and (max-width:767px) {
            top:0 !important;
            left:0 !important;
            right:0 !important;
            bottom:auto !important;
            padding:7em 15px 0;
            text-align:left;
            position:relative;
            display:inline-block;
        }

        &.col-content {
            h2 {
                display:inline-block;
                vertical-align: middle;
                margin:0 1.319em 0 0;
            }
            p {
                display:inline-block;
                vertical-align: middle;
            }
        }


        &.top-center {
            left:0;
            right:0;
            top:3.250em;
            bottom:auto;
            position:relative;
            display:inline-block;
            text-align:left;
        }
        
        &.top-left {
            bottom:auto;
            left:8.188em;
            top:5.250em;
            right:auto;
        }

        &.top-right {
            bottom:auto;
            left:auto;
            top:6.438em;
            right:7.000em;
        }

        &.bottom-left {
            bottom:8.125em;
            left:8.125em;
            top:auto;
            right:auto;

            
        }

        &.bottom-right {
            bottom:6.625em;
            right:3.188em;
            left:auto;
            top:auto;
        }
    }


}

.grid-menu {
    width:50%;
    height:em(540);
    background-color:#ccc;
    position:relative;
    float:left;
    overflow:hidden;
    @media screen and (max-width:767px) {
        float:none;
        width:100vw;
        height:auto;
        font-size:1.833vw;
    }
    
    &.center-content {
        text-align:center;
        .grid-image {
            position:absolute;
            width:100%;
            height:100%;
            top:0;
        }
        .btn-more {
            display:inline-block;
        }
    }

    h2 {
        font-family: 'Palatino';
        font-size:em(80);
        font-weight:400;
        color:#fff;
        line-height:1.2;
        letter-spacing: 0.02em;
        margin:0 0 0.500em 0;
    }

    .btn-more {
        display:block;
        width:em(174.96);
        cursor:pointer;
        img {
            width:100%;
        }
    }

    .grid-image {
        position:relative;
        z-index:1;
        img {
            width:100.2%;
            object-fit: cover;
        }
    }


    .grid-content {
        position:absolute;
        z-index:2;
        bottom:em(129);
        left:em(95);

        &.col-content {
            h2 {
                display:inline-block;
                vertical-align: middle;
                margin:0 0.975em 0 0;
            }
            p {
                display:inline-block;
                vertical-align: middle;
            }
        }


        &.top-center {
            left:0;
            right:0;
            top:2.375em;
            bottom:auto;
            text-align:center;
            .btn-more {
                margin:0 auto;
            }
        }
        
        &.top-left {
            bottom:auto;
            left:8.188em;
            top:5.250em;
            right:auto;
        }

        &.top-right {
            bottom:auto;
            left:auto;
            top:6.438em;
            right:7.000em;
        }

        &.bottom-left {
            bottom:em(129);
            left:em(95);
            top:auto;
            right:auto;
            .btn-more {
                margin-left:auto;
                margin-right:auto;
            }
            @media screen and (max-width:767px) {
                left:15px;
            }
        }

        &.bottom-right {
            bottom:em(112);
            right:em(114);
            left:auto;
            top:auto;
            .btn-more {
                margin-left:auto;
            }
            @media screen and (max-width:767px) {
                right:15px;
            }
        }
    }
}

.world-box {
    width:em(960);
    height:em(540);
    margin:0 auto;
    position:absolute;
    left:0;
    right:0;
    top:50%;
    transform:translateY(-50%);
    text-align:center;
    background-color:#9CC9AF;
    display:none;
    

    @media screen and (max-width:768px) {
        font-size:1.2vw;
    }

    @media screen and (max-width:767px) {
        width:100vw;
        height:100vh;
        font-size:2vw;
        // transform:translateY(-50%) scale(1.8);
    }
    

    .world-box-texture {
        background:url('../img/world/world-box-texture.png') no-repeat center / 100% auto;
        position:absolute;
        width: calc(100% - 1.875em);
        height: calc(100% - 0.625em);
        z-index: 2;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 0.313em;

        @media screen and (max-width:767px) {
            background:url('../img/world/world-box-texture-mobile.png') no-repeat center / 100% 100%;
        }
    }

    .btn-close {
        position:absolute;
        z-index:5;
        right:em(40);
        top:em(30);
        width:em(26.4);
        height:em(26.4);
        cursor:pointer;

        @media screen and (max-width:767px) {
            right: 2.75em;
            top: 2.375em;
            font-size: 2.5vw;
        }

        svg, img {
            width:100%;
            height:100%;
        }
    }

    .world-modal-content {
        padding:em(114) 15px 0;
        text-align:left;
        display:inline-block;
        position:relative;
        z-index:3;
        @media screen and (max-width:767px) {
            padding:20em 15px 0;
        }
        h2 {
            font-family: 'Palatino';
            font-size:em(53);
            font-weight:400;
            color:#4C4948;
            line-height:1.15;
            letter-spacing: 0.07em;
            margin:0 0 0.453em 0;
            text-align:center;
        }
    
        p {
            font-size:em(23);
            line-height:2.30;
            color:#4C4948;
            letter-spacing: 0.07em;
            margin:0;
        }

        img {
            @media screen and (max-width:767px) {
                position: absolute;
                top: 100%;
                float:none !important;
                margin:5em auto 0;
                left:0;
                right:0;
            }
        }

        .align-right {
            float:right;
        }

        .align-left{
            float:left;
        }
    }
}


.mobile-view {
    display:none;
    @media screen and (max-width:767px) {
        display:block;
    }
}

.desktop-view {
    display:block;
    @media screen and (max-width:767px) {
        display:none;
    }
}
