.main-menu{
    display: inline;
    @media only screen and (max-width: 991px){
        display: none;
    }
}

// MOBILE HEADER
.mobile-header{
    display: none;
    position: absolute;
    width: 100%;
    z-index: 9;
    top: 0;
    left: 0;
    
    &-wrapper{
        width: 100%;
        position: relative;
        background: #fff;
        padding: 22px 20px;
    }
    @media only screen and (max-width: 991px){
        display: block;
    }
    .container__burger{
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
    }
    .burger{
        cursor: pointer;
        z-index: 99;
        span{
            display: block;
            width: 23px;
            margin-bottom: 4px;
            background: #E73820;
            height: 3px;
            border-radius: 50px;
            transition: 0.3s;
            &:nth-child(3){
                margin-bottom: 0;
            }
    
        }
    }
    .sompony-logo{
        position: relative;
        display: block;
        width: 100%;
        max-width: 175px;
        height: auto;
        img{
            width: 100%;
            height: auto;
        }
    }
    .mobile-menu{
        padding: 0px 20px;
        &-wrapper{
            background: #fff;
            transform: translateX(100%);
            transition: 0.3s;
        }
        ul{
            list-style-type: none;
        }
        li{
            padding-left: 55px;
            transform: translateX(100%);
        }
        a{
            text-decoration: none;
            color: #3C3C3C;
            font-family: 'ShinGoPro', sans-serif;
            font-size: 12px;
            // padding: 22px 0px;
            padding-bottom: 22px;
            display: block;
        }
    }
}
.mobile-header{
    &.is-active{
      .burger{
          span{
              margin: 0;
            &:nth-child(1){
                -webkit-transform: rotate(-45deg) translate(0px, 4px);
                transform: rotate(-45deg) translate(0px, 4px);
            }
            &:nth-child(2){
                opacity: 0;
            }
            &:nth-child(3){
                -webkit-transform: rotate(45deg) translate(0px, -4px);
                transform: rotate(45deg) translate(0px, -4px);
            }
          }
      } 
      .mobile-menu-wrapper{
          transform:translateX(0) ;
      }
    }
}