.hero-game-layer{
    .hero{
        &-desktop{
            display: block;
            @media only screen and (max-width: 767px){
                display: none;
            }
        }
        &-mobile{
            display: none;
            @media only screen and (max-width: 767px){
                display:block;
                position: relative;
                width: 100%;
                height: 100%;
            }
        }
        &-layer{
            width: 100%;
            height: 100%;
        }
        &-bg-layer{
            position: absolute;
        }
        &-content-layer{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            @media only screen and (max-width: 767px){
                padding: 0px 30px;
            }
        }
        &-content-wrapper{
            text-align: center;
            transform: translateY(-65px);
        }
        &-title{
            margin-bottom: 23px;
            h1{
                font-family: 'ShinGoPro';
                color: #E73820;
                font-size: 36px;
                line-height: 42px;
                letter-spacing: 6.12px;
            }
        }
        &-subtitle{
            margin-bottom: 6px;
            h2{
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                color: #3C3C3C;
                font-size: 20px;
                line-height: 26px;
                letter-spacing: .8px;
            }
        }
        &-excerpt{
            p{
                color: #3C3C3C;
                font-size: 14px;
                line-height: 22px;
                font-style: italic;
            }
        }
    }
    .container__hero-mobile{
        display:block;
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }
}
