.main-menu {
    list-style-type: none;
    margin:0;
    padding:1em 1.563em;
    background-color:#fff;
    position:absolute;
    // position: relative; //in innerpages
    width: 100%;
    z-index:9;
    font-size: 0.833vw;
    @media screen and (max-width:767px) {
        font-size:1.2vw;
    }
    li {
        padding:0.938em;
        margin-right:1.250em;
        @media screen and (max-width:767px) {
            padding:0.3em;
            margin-right:0;
        }
        display:inline-block;
        position:relative;
        vertical-align: middle;
        &:last-child {
            margin-right:0;
        }
        &:focus {
            outline: none;
        }
        a {
            font-size:1em;
            color:#000;
            text-decoration: none;
            text-transform: uppercase;
            font-family: 'ShinGoPro', sans-serif;
            font-weight:bold;

            br {
                display:none;
                @media screen and (max-width:767px) {
                    display:block;
                }
            }
            &:focus {
                outline: none;
            }
            span.circle-wrap {
                position:relative;
                width: 3.400em;
                height: 3.400em;
                margin-right:0.750em;
                @media screen and (max-width:768px) {
                    width:3em;
                    height:3em;
                }
            }
            span {
                display:inline-block;
                vertical-align: middle;
            }
            > svg {
                display:inline-block;
                width:em(166.58);
            }
        }

        svg {
            width:100%;
        }
        img {
            width: 90%;
            position:absolute;
            right:0;
            bottom:0;
            vertical-align: bottom;
            display:none;
        }
    }    
}

.page-internal {
    .main-menu {
        @media screen and (max-width:767px) {
            font-size:1.2vw;
        }
    }
}