.panel-layer{
    position: absolute;
    right: 2%;
    overflow-y: visible;
    top: 50%;
    transform: translateY(-44%);
}
.container__panel-layer{
    height: 100vh;
    overflow-y: scroll;
    @media only screen and (max-width: 767px){
        height: unset;
        overflow: inherit;
        background: #F2F3F0; 
    }
}
.panel-layer-wrapper{
    padding: 15vh 0;
    margin-right: em(27);
    width: em(563);
    @media only screen and (max-width: 767px){
        padding: 0;
        width: 100%;
        padding: 0px 30px;
        position: relative;
        transform: translateY(-45px);
    }
}

.panel{
    width: 100%;
    margin-bottom: 140px;
}

.ranking-panel{
    width: 100%;
}

//RANKING
.container__ranking{
    padding-top: em(5);
    @media only screen and (max-width: 767px){
        padding-top: 8px;
    }
}
.ranking-item{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &-wrapper{
        background: #fff;
        padding: em(12) em(30);
        margin-bottom: em(5);
        overflow: hidden;
        border-radius: em(10);
        min-height: em(55);
        cursor: pointer;
        &:hover{
            background: #ddd;
        }
        @media only screen and (max-width: 767px){
            min-height: 55px;
            border-radius: 10px;
            margin-bottom: 5px;
            padding: 13px;
            padding-right: 20px;
        }
    }   
}
.ranking-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.rank{
    font-size: em(12);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.83;
    letter-spacing: 0.020em;
    color:#A3A3A3;
    font-weight: bold;
    margin-right: 2.500em;
    @media only screen and (max-width: 767px){
        font-size: 12px;
        letter-spacing: .24px;
        margin-right: 10px;
    }
}
.country-wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: em(170);
    @media only screen and (max-width: 767px){
        max-width: 170px;
    }
}
.country-img{
    width: em(30);
    height:em(30);
    margin-right: em(10);
    @media only screen and (max-width: 767px){
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
}
.country-name{
    font-size: em(16);
    line-height: 1.37;
    letter-spacing: 0.020em;
    font-weight: 300;
    color: #3C3C3C;
    @media only screen and (max-width: 767px){
        font-size: 16px;
        letter-spacing: .24px;
    }
}
.cup-wrapper{
    display: flex;
    margin-right: em(50);
    @media only screen and (max-width: 767px){
        display: none;
    }
}
.cup-item{
    width: em(35);
    height: em(30);
    position: relative;
    margin-right: em(30);
    &:last-child{
        margin-right: 0;
    }
    span{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -79%);
        font-size: em(12);
        line-height: 1.41;
        color: #4B4510;
    }
}
.points{
    font-size: em(16);
    line-height: 1.37;
    letter-spacing: 0.020em;
    color: #3C3C3C;
    @media only screen and (max-width: 767px){
        font-size: 16px;
        letter-spacing: .32px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
    }
}
.ranking-legend{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    &-wrapper{
        background: #fff;
        padding: em(12) em(30);
        margin-bottom: em(5);
        overflow: hidden;
        border-radius: em(10);
        min-height: em(55);
        display: flex;
        width: 100%;
        padding: 0px em(100);
        @media only screen and (max-width: 767px){
            display: none;
        }
    }   
}
.legend-item-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.legend-text{
    font-size: em(14);
    line-height: 1.28;
    letter-spacing: 0.020em;
}
.legend-circle{
    width: em(10);
    height: em(10);
    border-radius: 50%;
    margin-right: em(10);
    &.gold-circle{
        background-color:#FFE200;
    }
    &.silver-circle{
        background-color:#BEBEBE;
    }
    &.bronze-circle{
        background-color:#C49344;
    }
}
//ARTICLE
.article-panel{
    width: 100%;
    border-radius: em(10);
    overflow: hidden;
    background-color: #fff;
    @media only screen and (max-width: 767px){
        border-radius: 10px;
    }
}
.panel-content{
    width:  100%;
}
.article-panel{
    &-feature-img{
        height: em(300);
        @media only screen and (max-width: 767px){
            min-height: em(768);
            height: 100%;
            width: auto;
        }
    }
    &-content{
        padding: em(40);
    }
    &-date{
        margin-bottom: em(8);
        h6{
            font-family: Arial, Helvetica, sans-serif;
            color: #BDC1C4;
            font-size: em(14);
            line-height: 1.57;
            font-weight: 100;
            @media only screen and (max-width: 767px){
                font-size: 14px;
            }
        }
    }
    &-title{
        margin-bottom: em(27);
        h1{
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-size: em(22);
            color: #E73820;
            line-height: 1.36;
            letter-spacing: 0.040em;
            @media only screen and (max-width: 767px){
                font-size: 22px;
                letter-spacing: 0.88px;
            }
        }
    }   
}

.link__read-more{
    font-size: em(14);
    color: #3C3C3C;
    line-height: 1.57;
    letter-spacing: 0.112em;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    @media only screen and (max-width: 767px){
        font-size: 14px;
        letter-spacing: 0.56px;
    }
    &:hover{
    color: #E73820;
    }
    &::after{

        content: '';
        background: url(../img/read-more-arrow.svg) center center/contain no-repeat;
        display: block;
        position: absolute;
        // background-color: #fff;
        // border-radius: 50%;
        // border: 2px solid #E73820;
        font-size: em(16);
        width: em(7);
        height: em(11);
        top: 50%;
        right: -18%;
        transform:translateY(-45%);
    }
}
// #E73820;



