.page-game{
    .main{
        height: 100vh;
        @media only screen and (max-width: 767px){
            height:100%;
        }
    }
    footer{
        display: none;
        @media only screen and (max-width: 767px){
            display: block;
            position: relative !important;
        }
    }
    
}