
.hello-wrapper {
    // min-height:calc(800vh + 50em);
    position:relative;
    .hello-content {
        position:relative;
        z-index:3; 

        @media screen and (max-width:767px) {
            font-size:1.3vw;
            padding-top:2em;
        }

        .content-row {
            position:relative;

            .content-absolute {
                width:100%;
                min-height:67.500em;
                top:0;
                left:0;
                position:absolute;
                height:100%;
                z-index:2;
                @media screen and (max-width:767px) {
                    min-height:auto;
                }
            }


            .content-wrap {
                position:relative;
                .content-item {
                    position:relative;
                    min-height:67.500em;
                    @media screen and (max-width:767px) {
                        min-height:44em;
                    }
                }
            }

            .content-position {
                position:absolute;
                left:0;
                top:0;
                @media screen and (max-width:767px) {
                    position:relative;
                    width:100%;
                }
                .content-desc {
                    @media screen and (max-width:767px) {
                        padding:0 2.8125em !important;
                        width:40%;
                        br {
                            display:none;
                        }
                    }
                }
                &.text-top-left {
                    .content-desc {
                        padding:em(94) em(77);
                        @media screen and (max-width:767px) {
                            padding:em(94) 2.8125em;
                        }
                    }
                }
                &.text-top-right {
                    right:0;
                    left:auto;
                    .content-desc {
                        padding:em(94) em(77);
                        @media screen and (max-width:767px) {
                            padding:em(94) 2.8125em;
                            margin-left:auto;
                        }
                    }
                }
                &.text-top-center {
                    @media screen and (min-width:768px) {
                        text-align:center;
                        left:0;
                        right:0;
                    }
                    .content-desc {
                        @media screen and (min-width:768px) {
                            text-align:left;
                            display:inline-block;
                        }
                    }  
                }
                &.text-middle-left {
                    left: 0;
                    right:auto;
                    top: 50%;
                    transform: translateY(-50%);
                    @media screen and (max-width:767px) {
                        width:100%;
                    }
                    .content-desc {
                        padding-left:em(193);
                        @media screen and (max-width:767px) {
                            padding-left:5.03125em !important;
                        }
                    }
                }
                &.text-middle-right {
                    right: 0;
                    left:auto;
                    top: 50%;
                    transform: translateY(-50%);
                    // margin-top: 20em;
                    @media screen and (max-width:767px) {
                    }
                    .content-desc {
                        padding-right:em(115);
                        @media screen and (max-width:767px) {
                            padding-right:2.8125em;
                            margin-left:auto;
                        }
                    }
                }
                &.text-bottom-right {
                    right:0;
                    left:auto;
                    top:auto;
                    bottom:0;
                    @media screen and (max-width:767px) {
                        top:0;
                        bottom:auto;
                        padding-top:10em;
                    }
                    .content-desc {
                        padding:em(20) em(70) em(20) em(120);
                        @media screen and (max-width:767px) {
                            margin-left:auto;
                        }
                    }
                }

            }

            .img-wrap {
                position:relative;
                min-height:67.500em;
                @media screen and (max-width:767px) {
                    min-height:auto;
                }
                img {
                    width:100%;
                }

                &.image-align-middle {
                    @media screen and (max-width:767px) {
                        transform:translate3d(-50%, 25%, 0);
                    }
                }
            }


            h1 {
                font-size:em(91);
                margin:0;
                color:#E73820;
                letter-spacing: 0.091em;

                svg, img {
                    width:9.114em !important;
                    height:auto !important;
                    @media screen and (max-width:767px) {
                        width:100% !important;
                    }
                }
            }

            h2 {
                font-size:em(67);
                font-weight:400;
                margin:0;
                color:#4C4948;
                letter-spacing: 0.07em;
                svg, img {
                    width:12.373em !important;
                    height:auto !important;
                    @media screen and (max-width:767px) {
                        width:100% !important;
                    }
                }
            }

            p {
                font-size:em(43);
                letter-spacing: 0.07em;
                line-height:1.72;
                color:#4C4948;
                margin-top:0.5em;
                margin-bottom:0.3em;
                @media screen and (max-width:767px) {
                    margin:0;
                }
            }

            .internal {
                // padding-left:17em;
                
                padding-left:0;
                @media screen and (max-width:767px) {
                    font-size:1.2vw;
                }
                p {
                    font-size:em(25);
                    font-weight:bold;
                    letter-spacing: 0.07em;
                    line-height:1.76;
                    color:#E73820;
                    @media screen and (max-width:767px) {
                        font-size:em(38);
                        line-height:1.72;
                    }
                }
            }
        }
    }
}


.texture-bg {
    background:url('../img/texture-bg.jpg') repeat-y;
    background-size:100% auto;
    position:absolute;
    height:100%;
    width:100%;
    z-index:1;
    top:0;
}


.spiral-bg {
    background:url('../img/spiral-bg.png') no-repeat;
    background-size:100% auto;
    position:absolute;
    height:100%;
    width:100%;
    z-index:2;
    top:0;
}
@media screen and (max-width:767px) {


    .page-hello {
        &.page-internal {
            .hello-wrapper .hello-content .content-row .content-absolute {
                position: relative;
            }
            .hello-wrapper .hello-content .content-row .content-position {
                position:relative;
            }
            .hello-wrapper .hello-content .content-row .content-wrap .content-item {
                padding-bottom: 5em;
            }
            .hello-wrapper .hello-content .content-row .img-wrap {
                position:absolute;
                top:0;
            }
            .hello-wrapper .hello-content .content-row.sompony-content-4 .content-position.text-middle-left {
                position:absolute;
            }
            .hello-wrapper .hello-content .content-row.sompony-content-5 {
                overflow:hidden;
            }
            .hello-wrapper .hello-content .content-row.sompony-content-5 .img-wrap {
                transform: translateX(17em);
            }
            .hello-wrapper .hello-content .content-row.sompony-content-6 {
                padding-bottom: 15em;
            }
            .hello-wrapper .hello-content .content-row .content-position.text-middle-right {
                top: 0;
                transform: translateY(0);
            }
            .hello-wrapper .hello-content .content-row .content-position.text-middle-left {
                top:0;
                transform: translateY(0);
            }
        }
    }
}



