
.parallax-bg {
    background:url('../img/home-banner.jpg') no-repeat center / cover;
    height:calc(100vh - 13.688em);
    width:100%;
}

.parallax-container {
    height:100vh;
    min-height:55vw;
    overflow:hidden;
    position:relative;

}

.page-home {
    // overflow:hidden;
    header {
        position:relative;
        width:100vw;
        top:0;
        left:0;
        z-index:4;
        .main-menu {
            background-color:rgba(255,255,255,1);
            
        }
    }
    .wrapper {
        overflow:hidden;
    }
    footer {
        position:relative;
        @media screen and (max-width:767px) {
            position: absolute;
        }
        bottom:0;
        left:0;
        z-index:4;
        // background-color:rgba(255,255,255,1);
    }
    ::-webkit-scrollbar-track {
        margin: 15vh 0;
          @media only screen and  (max-width: 767px){
            margin:0; 
          }
        }
        
}
