

.media-wrapper {
  padding: 0 em(279) 30px;
  background: #F0ECE1;
  position: relative;

  @media screen and (max-width:768px) {
    padding: 15px 15px 9em;    
  }
  min-height:calc(100vh - 12.875em);

  .banner-content {
    position:relative;
    z-index:3;
    text-align:center;
    padding:em(120) 15px 0;
    @media screen and (max-width:767px) {
      font-size:1.6vw;
    }
    h1 {
        font-family: 'ShinGoPro', sans-serif;
        font-size:em(91);
        letter-spacing: 0.135em;
        line-height:1.3;
        color:#E73820;
        margin:0 0 0.606em 0;
        font-weight:400;
        svg {
            width:9.884em;
            height:auto;
            margin:0 auto;
        }
    }
  }
  .media-image {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    // padding-top:6.125em;
    
    @media screen and (max-width:768px){
      justify-content: center;
    }
    .clear {
      display:none !important;
    }
    &-content {
      iframe {
        width:em(1021);
        height:em(480);

        @media screen and (max-width:767px) {
          max-width: 80.813em;
          height: 45em;
          width:100%;
        }
      }

    }

    &__container {
      margin-bottom: em(62.5);    
      @media screen and (max-width:768px){
        margin-bottom:30px;
      }
    }


    &__item {
      
    }

    &__box {
      width: em(541.85);
      height: em(304.79);
      background-color: #B3B3B3;

      .d-none {
        display: none;
      }

      @media screen and(max-width: 768px) {
        width: 80em;
        height: 100%;
      }
    }

    &__img {
      max-width: 100%;
      width:100%;
      height:100%;
      object-fit: cover;
    }

    &__sizes {
      width: em(541.85);
      display: flex;
      justify-content: flex-end;
      // text-align: right;
      @media screen and(max-width: 768px) {
        width:80em;
      }
      .image-size {
        // line-height: 32px;
      }

      & > :not(:first-child) {
        // margin-left: em(14);
      }

      > span {
        color: #5A5A5A;
        text-decoration: none;
        font-size: em(18);
        line-height:1.75;
        display:inline-block;
        letter-spacing: 0.07em;

        @media screen and(max-width:1680px){
          font-size: 14px;
        }
      }

      & a {
        color: #E73820;
        font-size: em(18);
        line-height:1.75;
        text-decoration: underline;
        font-weight:700;
        margin-right:em(14);

        &:hover {
          text-decoration:none;
        }
        &:last-child {
          margin-right:0;
        }
        @media screen and(max-width:1680px){
          font-size: 14px;
        }
      }
    }
  }
}

.media-modal {
  width: 90%;
  margin: 0 auto;
  left: 0;
  right: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align:center;
  pointer-events: none;

  @media screen and (min-width:767px) and (max-width:812px) and (orientation:landscape) {
    width:70%;
  }
  .media-wrap {
    display:inline-block;
    position:relative;
  }

  .btn-close {
    position:absolute;
    z-index:5;
    right:em(40);
    top:em(30);
    width:em(26.4);
    height:em(26.4);
    cursor:pointer;
    pointer-events: auto;

    @media screen and (max-width:767px) {
        right: 1.75em;
        top: 1.375em;
        font-size: 2.5vw;
    }

    svg, img {
        width:100%;
        height:100%;
    }
  }
  
  img {
    pointer-events: auto;

    &.landscape {
      width:100%;
    }
    &.portrait {
      height:90vh;
      @media screen and (max-width:767px) and (min-height:635px) {
        height:75vh;
      }
    }
  }
}
