

.message-wrapper {
  padding: 0 em(279);
  background: #fff;
  position: relative;

  @media screen and (max-width:992px) {
    padding:0 2.501em;
  }
  @media screen and (max-width:768px) {
    padding: 15px 2.501em 9em;    
  }
  // min-height:calc(100vh - 20.875em);
  min-height:calc(100vh - 12.4em);
  

  .banner-content {
    position:relative;
    z-index:3;
    text-align:center;
    padding:em(120) 15px 0;
    @media screen and (max-width:767px) {
      font-size:1.6vw;
    }
    h1 {
        font-family: 'ShinGoPro', sans-serif;
        font-size:em(91);
        letter-spacing: 0.135em;
        line-height:1.3;
        color:#E73820;
        margin:0 0 0.606em 0;
        font-weight:400;
        svg {
            width:9.884em;
            height:auto;
            margin:0 auto;
        }
    }
    h3 {
      span {
        font-size:1em !important;
      }
    }

    table {
      border:0px;
      border-collapse:collapse;
      border-spacing:0px;
      td, th {
        padding:1em; 
        border-width:0px; 
        margin:0px; 
        width:em(90);
        font-weight:600;
        span {
          font-size:1em !important;
          font-weight:400;
        }
      }
    }
  }

  .latest-messages {
    @media screen and (max-width:992px) {
      font-size:10px;
    }
  }

  .content__latest-message {
    padding-top: 0.980em;
    padding-bottom: 0.980em;
    border-bottom: 1px solid #dadcdc;
    font-size:em(25.5);
    line-height:1.75;
    letter-spacing: 0.03em;
    color:#4C4948;
    a {
      color:#4C4948;
    }
    

    .message-desc {
      padding-bottom:1.569em;
    }

    .message-go-icon {
      a {
        display:block;
        width:1.098em;
      }
      img {
        width:100%;
      }
    }
  }

  .sompony-messenger {
    padding:em(80) 0 em(100);
    img {
      width:100%;

    }
  }

  .single-message-content {
    padding:8em 0;
    @media screen and (max-width:768px) {
      padding: 2em 0;
    }
    @media screen and (max-width:767px) {
      padding: 0;
      font-size:1.8vw;
    }

    .title {
      font-family: 'ShinGoPro', sans-serif;
      color:#E73820;

      svg {
        width:9.884em;
        height:auto;
        margin:0 auto;
      }
    }
    h1 {
      // font-family: 'ShinGoPro', sans-serif;
      font-size:em(72);
      letter-spacing: 0.05em;
      line-height:1.16;
      // color:#E73820;
      margin:0 0 0.606em 0;
      font-weight:400;
      svg {
          width:9.884em;
          height:auto;
          margin:0 auto;
      }
    }
    h2 {
      font-size:em(65);
      line-height:1;
      margin:0 0 0.606em 0;
      font-weight:400;
    }
    h3 {
      font-size:em(52);
      line-height:1;
      margin:0 0 0.606em 0;
    }
    h4 {
      font-size:em(32);
      line-height:1;
      margin:0 0 0.606em 0;
    }
    h5 {
      font-size:em(20);
      line-height:1;
      margin:0 0 0.606em 0;
    }
    p, a {
      font-size:em(25.5);
      line-height:1.75;
      letter-spacing: 0.03em;
      color:#4C4948;
    }

    p {
      a {
        font-size:1em;
      }
      img {
        max-width:100%;
        height:auto !important;
      }
    }

    .message-date {
      margin:0 0 0.606em 0;
      p {
        float:left;
      }
      a {
        float:right;
      }
      .icon-download {
        display:inline-block;
        margin-right: 1em;
        width: 0.9em;
        svg, img {
          width:100%;
        }
      }
    }

    .back-to-top {
      position:absolute;
      bottom:2em;
      // margin:2em 0;
      a {
          font-size:em(25.5);
          line-height:1.75;
          letter-spacing: 0.03em;
          color:#E73820;
      }
    }
  }
}
