.style-guide {
    &-wrapper {
        overflow-x:hidden;
        @media screen and (max-width:767px) {
            font-size:2vw;
            br {
                display:none;
            }
        }
    }
    &-banner {
        background-color:#E73820;
        height:em(990);
        width:100vw;
        position:relative;

        @media screen and (max-width:767px) {
            height:100vh;
            font-size:1.3vw;
        }
    
        .banner-title {
            text-align:center;
            position:absolute;
            left:0;
            right:0;
            top:50%;
            transform:translateY(-50%);
            width:100%;
    
            img, svg {
                width:100%;
                max-width:em(841);
            }
            h1 {
                font-size:1em;
                margin:0;
                color:#fff;
            }
            p {
                font-size:em(70);
                line-height:1.4;
                color:#fff;
                letter-spacing: 0.06em;
                margin:0;
            }
        }

        .banner-version {
            position:absolute;
            bottom:em(17);
            right:em(30);

            @media screen and (max-width:767px) {
                bottom:auto;
                top:50%;
                left:0;
                right:0;
                transform:translateY(-50%);
                text-align:center;
                margin-top:10em;
                font-size:2.6vw;
            }

            p {
                font-size:em(24);
                line-height:1.75;
                color:#fff;
                margin:0;
            }
        }
        .banner-link {
            position:absolute;
            bottom:em(17);
            left:2.151em;
            @media screen and (max-width:767px) {
                bottom:auto;
                top:50%;
                left:0;
                right:0;
                transform:translateY(-50%);
                text-align:center;
                margin-top:7em;
                font-size:2.6vw;
            }
            a {
                font-size:em(24);
                line-height:1.75;
                color:#fff;
                margin:0;
                text-decoration: none;
                i {
                    display: inline-block;
                    margin-left: 1em;
                    width: 0.9em;
                    position: relative;
                    top: -0.1em;
                    svg {
                        width:100%;
                    }
                }
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    
    &-title {
        @media screen and (max-width:767px) {
            font-size:1.9vw;
        }
        img, svg {
            width:4.930em;
        }
        ul {
            list-style-type: none;
            padding:1em 1.563em;
            margin:0;
            li {
                float:left;
                font-size:em(25.5);
                line-height:1.75;
                letter-spacing: 0.03em;
                color:#4C4948;
                margin-left:em(13);
                &:first-child {
                    margin-left:0.588em;
                    @media screen and (max-width:767px) {
                        margin-left:0;
                    }
                }
            }
        }
    }
    
    &-rules {
        padding:em(74) em(275) em(105) em(362);
        @media screen and (max-width:767px) {
            padding:em(74) 1.563em em(105);
        }
        p, h4 {
            margin:0 0 2.471em;
            font-size:em(25.5);
            line-height:1.72;
            color:#4C4948;
            letter-spacing: 0.05em;
            font-weight:400;
        }
        h4 {
            margin:0;
        }
        ul {
            margin:0 0 2.471em;
            padding:0 0 0 em(25);
            list-style-type: disc;
            // text-indent: em(-11);
            @media screen and (max-width:767px) {
                padding:0 0 0 1.867em;
            }
            li {
                font-size:em(25.5);
                line-height:1.72;
                color:#4C4948;
                letter-spacing: 0.05em;
            }
        }
    }

    &-illustration {
        padding:em(102) 0 em(192) em(556);
        @media screen and (max-width:767px) {
            padding: em(102) 1.563em em(192);
        }
        .illustration-wrap {
            width:em(1300);
            height:em(750);
            @media screen and (max-width:767px) {
                width:100%;
                height:auto;
            }
            img {
                width:100%;
            }
        }
    }

    &-variations {
        @media screen and (max-width:767px) {
            font-size:1.5vw;
            margin-top:4.167em;
        }
        &.variation-grey {
            ul {
                li {
                    img {
                        filter: grayscale(100%);
                    }
                }
            }
        }

        &.variation-black {
            ul {
                li {
                    img {
                        filter: grayscale(100%) contrast(4);
                    }
                }
            }
        }
    
        &.col-3 {
            padding:em(115) 0 em(125);
            ul {
                max-width:em(1664);
                margin: 0 auto 0;
                padding:0;
                li {
                    width:auto;
                    @media screen and (max-width:767px) {
                        width:20em;
                    }
                    margin:0 em(100) em(208);
                    p {
                        position:absolute;
                        width:100%;
                        left:0;
                        right:0;
                        top:calc(100% + 2.632em);
                    }
                }
            }
        }

        ul {
            list-style-type:none;
            margin:0;
            padding:0;
            text-align:center;
            li {
                text-align:center;
                font-size:1em;
                display:inline-block;
                vertical-align: bottom;
                margin:0 em(21) em(118);
                position:relative;
                img {
                    margin-bottom:em(7);
                }
                p {
                    font-size:em(19);
                    line-height:1.75;
                    margin:0 0 em(7);
                    letter-spacing: 0.03em;
                    color:#4C4948;

                    &:last-child {
                        margin-bottom:0;
                    }
                    span {
                        position:absolute;
                        width:100%;
                        top:100%;
                        left:0;
                        right:0;
                        font-size:1em;
                        line-height:1.26;
                    }
                }
            }
        }
        
        
    }

    &-drawing {
        padding-bottom:em(30);
        h1 {
            font-family: 'Palatino';
            font-size:em(77);
            line-height:1.76;
            font-weight:400;
            color:#4C4948;
            margin:0 0 0.429em;

            @media screen and (max-width:767px) {
                font-size:3.4em;
            }

            img, svg {
                width:4.935em;
            }
        }
        h4 {
            font-size:em(38);
            line-height:1.68;
            color:#4C4948;
            margin:0;
            font-weight:400;
            @media screen and (max-width:767px) {
                font-size:em(25.5);
                line-height:1.72;
                letter-spacing: 0.05em;
                width: 75%;
            }
        }

        p {
            margin:0 0 1.294em;
            font-size:em(25.5);
            line-height:1.72;
            color:#4C4948;
            letter-spacing: 0.05em;
            font-weight:400;
        }

        ol {
            margin:0 0 0 -2.500em;
            li {
                font-size:em(25.5);
                line-height:1.72;
                color:#4C4948;
                letter-spacing: 0.05em;
                margin-bottom:1.294em;
            }
        }

        .drawing-content-wrap {
            padding:em(83) em(238) em(44) em(245);
            @media screen and (max-width:767px) {
                padding:em(83) 1.563em em(44);
            }
        }

        .drawing-content {
            padding:em(80) em(100) em(80) em(230);
            position:relative;
            z-index:1;
            &:before {
                content:'';
                background:url('../img/character-sompony.png') no-repeat center center;
                background-size:100% auto;
                width:em(297);
                height:em(288);
                position:absolute;
                top: em(-246);
                right: em(-18);
                z-index:2;

                @media screen and (max-width:767px) {
                    // display:none;
                    width: 15.5625em;
                    height: 15em;
                    top: -12.9em;
                    right: -1.125em;
                }
            }
           
            @media screen and (max-width:767px) {
                padding:5.1875em 1.563em 5.1875em;
            }
            border:1.48px solid #231815;
            margin-top:em(55);
            .drawing-desc {
                padding-left:em(118);
                @media screen and (max-width:767px) {
                    padding-left:2.375em;
                }
            }
        }

        .drawing-angles {
            @media screen and (max-width:767px) {
                padding:0 1.563em;
            }
            p {
                padding: 0.627em 0.980em;
                @media screen and (max-width:767px) {
                    padding: 0.627em 0;
                }
            }
            img {
                padding-left:em(245);
                width:em(1568.92);
                @media screen and (max-width:767px) {
                    width:100%;
                    padding-left:0
                }
            }
        }

    }

    &-logo {
        img {
            width:100%;
        }
    }


 }

