
.world-wrapper {
    // padding:em(50) 0;
    overflow:hidden;
    .background-texture {
        position:absolute;
        z-index:1;
        background:url('../img/sompony-map-texture.jpg') no-repeat center / cover;
        width:100%;
        height:100%;

       
    }

    .background-cloud {
        position:absolute;
        pointer-events: none;
        z-index:5;
        background:url('../img/clouds-side.png') repeat-y center top / 100% auto;
        width:100%;
        height:100%;
        top:0; 
        backface-visibility: hidden;
        &-left-1 {
            background:url('../img/clouds-left-1.png') no-repeat center top / 100% auto;
            width:100%;
            height:100%;
            left:0;
            top:0;
        }
        &-left-2 {
            background:url('../img/clouds-left-2.png') no-repeat center top / 100% auto;
            width:100%;
            height:100%;
            left:0;
            top:0;
            z-index:4;
        }
        &-left-3 {
            background:url('../img/clouds-left-3.png') no-repeat center top / 100% auto;
            width:100%;
            height:100%;
            left:0;
            top:0;
        }
        &-right-1 {
            background:url('../img/clouds-right-1.png') no-repeat center top / 100% auto;
            width:100%;
            height:100%;
            right:0;
            top:0;
        }
        &-right-2 {
            background:url('../img/clouds-right-2.png') no-repeat center top / 100% auto;
            width:100%;
            height:100%;
            right:0;
            top:0;
            z-index:4;
            @media screen and (max-width:767px) {
                top:2vh;
            }
        }
        &-right-3 {
            background:url('../img/clouds-right-3.png') no-repeat center top / 100% auto;
            width:100%;
            height:100%;
            right:0;
            top:0;
        }
    }
    .world-layer {
        position:relative;
        width:100vw;
        overflow:hidden;
    }
    .world-banner {
        // position:relative;
        // overflow:hidden;
        z-index:2;
        .banner-content {
            position:relative;
            z-index:3;
            text-align:center;
            padding:em(242) 15px em(205);
            h1 {
                font-size:em(116.98);
                letter-spacing: 0.135em;
                line-height:1.75;
                color:#E73820;
                margin:0 0 0.641em 0;
                font-weight:400;
                svg {
                    width:9.884em;
                    height:auto;
                    margin:0 auto;
                }
            }

            p {
                font-size:em(35.97);
                letter-spacing: 0.07em;
                line-height:1.69;
                color:#4C4948;

                @media screen and (max-width:767px) {
                    font-size:16px;
                    width: 65%;
                    margin: 0 auto;
                    br {
                        display:none;
                    }
                }
            }
        }
    }

    .world-map {
        width:100%;
        height:100%;
        overflow:hidden;
        text-align:center;
        position:relative;
        z-index:6;
        top:1px;
        backface-visibility: hidden;
        transform:translate3d(0,0,0);
        @media screen and (max-width:1024px){
            height:576px;
        }

        .background-cloud {
            @media screen and (max-width:1023px){
                display:none;
            }
        }

        .background-sompony-map {
            min-width:1024px;
            height:100%;
            position:relative;
            left:0;
            @media screen and (max-width:1023px){
                position:absolute;
            }

            .map-layer {
                #map_animation_container, #map_canvas, #map_dom_overlay_container {
                    width:100vw !important;
                    height: em(1080) !important;

                    @media screen and (max-width:1024px) {
                        width:1024px !important;
                        height:576px !important;
                    }
                }
            }
        }

        .map-labels {
            position:absolute;
            width:100%;
            height:100%;
            z-index:4;
            top:0;
            left:0;

            @media screen and (max-width:1024px) {
                font-size:8.52992px;
            }

            .map-item-label {
                position:absolute;
                cursor:pointer;
                z-index:5;
                &-1 {
                    width:em(277);
                    height:em(183);
                    left:em(390);
                    top:em(106) ;
                }

                &-2 {
                    width:em(399);
                    height:em(205);
                    left:em(757);
                    top:em(12);
                }

                &-3 {
                    width:em(346);
                    height:em(221);
                    left:em(1382);
                    top:em(12);
                }

                &-4 {
                    width:em(304);
                    height:em(202);
                    left:em(607);
                    top:em(292);
                }

                &-5 {
                    width:em(288);
                    height:em(195);
                    left:em(1270);
                    top:em(281);
                }

                &-6 {
                    width:em(300);
                    height:em(158);
                    left:em(369);
                    top:em(601);
                }

                &-7 {
                    width:em(289);
                    height:em(183);
                    left:em(867);
                    top:em(590);
                }

                &-8 {
                    width:em(286);
                    height:em(158);
                    left:em(529);
                    top:em(866);
                }

                &-9 {
                    width:em(280);
                    height:em(147);
                    left:em(1165);
                    top:em(745);
                }
            }
        }
        img {
            width:100%;
            @media screen and (max-width:1024px){
                width:1024px;
                margin:0 auto;
            }
        }
    }

    .world-characters {
        backface-visibility: hidden;
        transform: translate3d(0,0,0);
        margin-top:-1px;
        h1 {
            font-family: 'Palatino';
            font-size:em(107.2);
            line-height:1.19;
            letter-spacing: 0.05em;
            font-weight:100;
            color:#E73820;
            margin:0;
            position:absolute;
            right:0.784em;
            top:0.653em;

            @media screen and (max-width:767px) {
                font-size:11.7em;
                right:auto;
                top:0.521em;
                left:0.380em;
            }

        }

        &.internal-world {
            h1 {
                right:auto;
                left:0.886em;
                @media screen and (max-width:767px) {
                    position:relative;
                }
            }
        }


        .internal {
            padding-left:0;
            position:absolute;
            top:em(90);
            right:em(103);
            @media screen and (max-width:767px) {
                position:relative;
                right:auto;
                left:0;
                top:auto;
                margin-top:7em;
                padding-left:10.5em;
                padding-right:15px;
                margin-bottom:-25em;
            }
            
            p {
                font-size:em(25);
                font-weight:bold;
                letter-spacing: 0.07em;
                line-height:1.76;
                color:#E73820;
                @media screen and (max-width:767px) {
                    font-size:3.375em;
                    line-height:1.72;
                }
            }
        }
        #group_animation_container, #group_canvas, #group_dom_overlay_container {
            width:100vw !important;
            height: em(1080) !important;
        }
        img {
            width:100%;
        }
    }

    .grid-menu-wrap {
        backface-visibility: hidden;
        transform:translate3d(0,0,0);
        position:relative;
    }
}


