/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/*********************
BREAKPOINTS
*********************/
/*********************
 BOOTSTRAP BREAKPOINTS
 *********************/
/*********************
 BREAKPOINTS: Usage
 *********************/
/*
 @include breakpoint(breakpointname) {
     ==== STYLES ====    
 }
 */
.table {
  display: table; }
  .table-full {
    width: 100%;
    height: 100%;
    min-height: inherit;
    position: relative; }
    .table-full:after {
      content: "";
      display: table; }

.table-row {
  display: table-row; }

.table-cell {
  display: table-cell;
  vertical-align: middle; }

.align-center {
  text-align: center; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.v-align-top {
  vertical-align: top; }

.v-align-middle {
  vertical-align: middle; }

.v-align-bottom {
  vertical-align: bottom; }

.clearfix {
  overflow: auto; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.inline {
  display: inline; }

.inline-block {
  display: inline-block; }

.block {
  display: block; }

ul.inline-block-group {
  list-style: none;
  padding-left: initial; }
  ul.inline-block-group li {
    display: inline-block;
    vertical-align: middle; }

.case-upper {
  text-transform: uppercase; }

.case-lower {
  text-transform: lowercase; }

.case-proper {
  text-transform: capitalize; }

.m-auto {
  margin: auto; }

.img-responsive {
  width: 100%;
  height: auto; }

.center-block {
  display: block;
  margin: 0 auto; }

.bp-rel {
  position: relative; }

.o-hidden {
  overflow: hidden; }

.w100 {
  width: 100%; }

.h100 {
  height: 100%; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.mobile-only {
  display: block; }

.tablet-up {
  display: none; }

.overflow-hidden {
  overflow: hidden;
  position: relative;
  height: 100%; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */ }

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit; }

/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible {
  visibility: hidden; }

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
 EXAMPLE Media Queries for Responsive Design.
 These examples override the primary ('mobile first') styles.
 Modify as content requires.
 ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }

@media print, (-webkit-min-device-pixel-ratio: 1.25), (-o-min-device-pixel-ratio: 5/4), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }

/* ==========================================================================
 Print styles.
 Inlined to avoid the additional HTTP request:
 https://www.phpied.com/delay-loading-your-print-css/
 ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre {
    white-space: pre-wrap !important; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

@font-face {
  font-family: "Palatino";
  src: url("../fonts/Palatino-Roman.eot");
  src: url("../fonts/Palatino-Roman.woff") format("woff"), url("../fonts/Palatino-Roman.ttf") format("truetype"), url("../fonts/Palatino-Roman.svg") format("svg"), url("../fonts/Palatino-Roman.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Palatino";
  src: url("../fonts/Palatino-Italic.eot");
  src: url("../fonts/Palatino-Italic.woff") format("woff"), url("../fonts/Palatino-Italic.ttf") format("truetype"), url("../fonts/Palatino-Italic.svg") format("svg"), url("../fonts/Palatino-Italic.eot?#iefix") format("embedded-opentype");
  font-weight: "italic";
  font-style: normal; }

@font-face {
  font-family: "Palatino";
  src: url("../fonts/Palatino-Bold.eot");
  src: url("../fonts/Palatino-Bold.woff") format("woff"), url("../fonts/Palatino-Bold.ttf") format("truetype"), url("../fonts/Palatino-Bold.svg") format("svg"), url("../fonts/Palatino-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: "bold";
  font-style: normal; }

.font-a {
  font-family: 'Palatino', sans-serif; }

@font-face {
  font-family: 'ShinGoPro';
  src: url("../../fonts/A-OTF-ShinGoPro-Bold.otf");
  font-weight: bold;
  font-style: normal; }

body {
  font-size: 1.171vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  position: relative;
  overflow-x: hidden; }
  @media only screen and (max-width: 767px) {
    body {
      overflow-y: scroll !important; } }

* {
  outline: none !important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.main {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%; }

.animate {
  opacity: 0; }

.no-scroll {
  overflow: hidden; }

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.text-underline {
  text-decoration: underline; }

.page-permission .wrapper {
  min-height: calc(100vh - 12.875em); }

.back-to-top-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.hero-game-layer {
  position: absolute;
  height: 100%;
  width: 100%; }
  @media only screen and (max-width: 767px) {
    .hero-game-layer {
      height: 582px; } }

@media only screen and (max-width: 767px) {
  .block-layer {
    position: relative !important;
    width: 100% !important;
    top: 0 !important;
    left: 0 !important;
    -webkit-transform: translate(0) !important;
    -ms-transform: translate(0) !important;
    transform: translate(0) !important; } }

::-webkit-scrollbar {
  width: 0.4375em; }
  @media only screen and (max-width: 767px) {
    ::-webkit-scrollbar {
      width: 3px; } }

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.625em; }

::-webkit-scrollbar-thumb {
  background: #E73820;
  border-radius: 0.625em; }

.line-separator {
  width: 100%;
  height: 1px;
  background-color: #E73820;
  border: 2.5px solid #E73820;
  border-radius: 50px; }

.opac-0 {
  opacity: 0; }

.btn__standard {
  background-color: #E73820;
  border-radius: 3.125em;
  display: inline-block;
  text-decoration: none; }
  @media only screen and (max-width: 767px) {
    .btn__standard {
      border-radius: 50px;
      width: 100%;
      text-align: center; } }
  .btn__standard span {
    font-size: 1em;
    color: #fff;
    line-height: 1.37;
    margin: 0.9375em 1.4375em 0.9375em 3.25em;
    font-family: Helvetica, Arial, sans-serif;
    display: block;
    font-weight: bold;
    letter-spacing: 0.04em; }
    @media only screen and (max-width: 767px) {
      .btn__standard span {
        font-size: 16px;
        width: 100%;
        margin: 15px 0px; } }

.main-menu {
  display: inline; }
  @media only screen and (max-width: 991px) {
    .main-menu {
      display: none; } }

.mobile-header {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 9;
  top: 0;
  left: 0; }
  .mobile-header-wrapper {
    width: 100%;
    position: relative;
    background: #fff;
    padding: 22px 20px; }
  @media only screen and (max-width: 991px) {
    .mobile-header {
      display: block; } }
  .mobile-header .container__burger {
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .mobile-header .burger {
    cursor: pointer;
    z-index: 99; }
    .mobile-header .burger span {
      display: block;
      width: 23px;
      margin-bottom: 4px;
      background: #E73820;
      height: 3px;
      border-radius: 50px;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .mobile-header .burger span:nth-child(3) {
        margin-bottom: 0; }
  .mobile-header .sompony-logo {
    position: relative;
    display: block;
    width: 100%;
    max-width: 175px;
    height: auto; }
    .mobile-header .sompony-logo img {
      width: 100%;
      height: auto; }
  .mobile-header .mobile-menu {
    padding: 0px 20px; }
    .mobile-header .mobile-menu-wrapper {
      background: #fff;
      -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
      transform: translateX(100%);
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
    .mobile-header .mobile-menu ul {
      list-style-type: none; }
    .mobile-header .mobile-menu li {
      padding-left: 55px;
      -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
      transform: translateX(100%); }
    .mobile-header .mobile-menu a {
      text-decoration: none;
      color: #3C3C3C;
      font-family: 'ShinGoPro', sans-serif;
      font-size: 12px;
      padding-bottom: 22px;
      display: block; }

.mobile-header.is-active .burger span {
  margin: 0; }
  .mobile-header.is-active .burger span:nth-child(1) {
    -webkit-transform: rotate(-45deg) translate(0px, 4px);
    -ms-transform: rotate(-45deg) translate(0px, 4px);
    transform: rotate(-45deg) translate(0px, 4px); }
  .mobile-header.is-active .burger span:nth-child(2) {
    opacity: 0; }
  .mobile-header.is-active .burger span:nth-child(3) {
    -webkit-transform: rotate(45deg) translate(0px, -4px);
    -ms-transform: rotate(45deg) translate(0px, -4px);
    transform: rotate(45deg) translate(0px, -4px); }

.mobile-header.is-active .mobile-menu-wrapper {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); }

footer {
  padding: 1.125em 0;
  background-color: #CCCCCC;
  position: relative;
  z-index: 9;
  font-size: 0.833vw;
  width: 100vw;
  position: relative; }
  @media screen and (max-width: 767px) {
    footer {
      padding: 50px 0px;
      margin: 0 auto;
      width: 100%;
      text-align: center; } }
  footer .footer-logo {
    padding: 0 0.938em;
    width: 10.875em;
    margin-left: 1.563em; }
    footer .footer-logo img {
      width: 100%; }
    @media screen and (max-width: 767px) {
      footer .footer-logo {
        width: 183px;
        height: 58px;
        display: block;
        position: relative;
        margin: 0 auto;
        padding: 0;
        margin-bottom: 50px; } }
  footer .footer-copyright {
    position: absolute;
    right: 2.500em;
    bottom: 50%;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%); }
    @media screen and (max-width: 767px) {
      footer .footer-copyright {
        position: relative;
        right: 0;
        bottom: 0;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0); } }
    footer .footer-copyright p {
      font-size: 0.750em;
      font-weight: 100;
      color: #000;
      letter-spacing: 0.025em;
      padding: 0.625em 0em; }
      @media screen and (max-width: 767px) {
        footer .footer-copyright p {
          font-size: 12px;
          line-height: 20px;
          margin: 0;
          padding: 0; } }
    footer .footer-copyright ul {
      list-style-type: none;
      margin: 0;
      padding: 0; }
      footer .footer-copyright ul li {
        font-size: 0.750em;
        display: inline-block;
        border-right: 1px solid #000;
        padding-right: 0.583em;
        padding-left: 0.417em; }
        @media only screen and (max-width: 767px) {
          footer .footer-copyright ul li {
            display: block;
            border: 0px;
            padding: 0;
            margin-bottom: 25px; } }
        footer .footer-copyright ul li:first-child {
          padding-left: 0; }
        footer .footer-copyright ul li:last-child {
          padding-right: 0;
          border-right: 0; }
        footer .footer-copyright ul li a {
          font-size: 1em;
          color: #000;
          text-decoration: underline; }
          @media only screen and (max-width: 767px) {
            footer .footer-copyright ul li a {
              font-size: 14px;
              line-height: 20px; } }
          footer .footer-copyright ul li a:hover {
            text-decoration: none; }

.main-menu {
  list-style-type: none;
  margin: 0;
  padding: 1em 1.563em;
  background-color: #fff;
  position: absolute;
  width: 100%;
  z-index: 9;
  font-size: 0.833vw; }
  @media screen and (max-width: 767px) {
    .main-menu {
      font-size: 1.2vw; } }
  .main-menu li {
    padding: 0.938em;
    margin-right: 1.250em;
    display: inline-block;
    position: relative;
    vertical-align: middle; }
    @media screen and (max-width: 767px) {
      .main-menu li {
        padding: 0.3em;
        margin-right: 0; } }
    .main-menu li:last-child {
      margin-right: 0; }
    .main-menu li:focus {
      outline: none; }
    .main-menu li a {
      font-size: 1em;
      color: #000;
      text-decoration: none;
      text-transform: uppercase;
      font-family: 'ShinGoPro', sans-serif;
      font-weight: bold; }
      .main-menu li a br {
        display: none; }
        @media screen and (max-width: 767px) {
          .main-menu li a br {
            display: block; } }
      .main-menu li a:focus {
        outline: none; }
      .main-menu li a span.circle-wrap {
        position: relative;
        width: 3.400em;
        height: 3.400em;
        margin-right: 0.750em; }
        @media screen and (max-width: 768px) {
          .main-menu li a span.circle-wrap {
            width: 3em;
            height: 3em; } }
      .main-menu li a span {
        display: inline-block;
        vertical-align: middle; }
      .main-menu li a > svg {
        display: inline-block;
        width: 10.41125em; }
    .main-menu li svg {
      width: 100%; }
    .main-menu li img {
      width: 90%;
      position: absolute;
      right: 0;
      bottom: 0;
      vertical-align: bottom;
      display: none; }

@media screen and (max-width: 767px) {
  .page-internal .main-menu {
    font-size: 1.2vw; } }

.modal-box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.grid-box {
  width: 72em;
  height: 40.5em;
  margin: 0 auto;
  background-color: #ccc;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: none; }
  @media screen and (max-width: 768px) {
    .grid-box {
      font-size: 1.2vw; } }
  @media screen and (max-width: 767px) {
    .grid-box {
      width: 100vw;
      height: 100vh;
      text-align: center;
      font-size: 2.5vw;
      overflow-x: hidden;
      overflow-y: auto; } }
  .grid-box.center-content {
    text-align: center; }
    .grid-box.center-content .grid-image {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0; }
  .grid-box h2 {
    font-family: 'Palatino';
    font-size: 4.5em;
    font-weight: 400;
    color: #fff;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin: 0 0 0.250em 0; }
  .grid-box p {
    font-size: 1.3125em;
    line-height: 2;
    color: #fff;
    letter-spacing: 0.07em;
    margin: 0; }
  .grid-box .btn-close {
    position: absolute;
    z-index: 5;
    right: 1.5625em;
    top: 1.5625em;
    width: 1.6875em;
    height: 1.6875em;
    cursor: pointer; }
    .grid-box .btn-close svg, .grid-box .btn-close img {
      width: 100%;
      height: 100%; }
  .grid-box .grid-image {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%; }
    @media screen and (max-width: 767px) {
      .grid-box .grid-image {
        position: relative !important;
        width: 100% !important;
        margin: 0 auto 40px;
        height: auto !important; } }
    .grid-box .grid-image .character-canvas {
      position: relative;
      width: 72em !important;
      height: auto !important;
      top: 0;
      background-color: transparent;
      pointer-events: none;
      margin: 0 auto;
      left: 0;
      right: 0; }
      @media screen and (max-width: 767px) {
        .grid-box .grid-image .character-canvas {
          width: 100% !important; } }
    .grid-box .grid-image img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
      @media screen and (max-width: 767px) {
        .grid-box .grid-image img {
          width: auto;
          max-width: 100%;
          margin: auto; } }
      .grid-box .grid-image img.watermark {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 100%; }
  .grid-box .grid-content {
    position: absolute;
    z-index: 2;
    top: 8.125em;
    left: 8.125em; }
    @media screen and (max-width: 767px) {
      .grid-box .grid-content {
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
        bottom: auto !important;
        padding: 7em 15px 0;
        text-align: left;
        position: relative;
        display: inline-block; } }
    .grid-box .grid-content.col-content h2 {
      display: inline-block;
      vertical-align: middle;
      margin: 0 1.319em 0 0; }
    .grid-box .grid-content.col-content p {
      display: inline-block;
      vertical-align: middle; }
    .grid-box .grid-content.top-center {
      left: 0;
      right: 0;
      top: 3.250em;
      bottom: auto;
      position: relative;
      display: inline-block;
      text-align: left; }
    .grid-box .grid-content.top-left {
      bottom: auto;
      left: 8.188em;
      top: 5.250em;
      right: auto; }
    .grid-box .grid-content.top-right {
      bottom: auto;
      left: auto;
      top: 6.438em;
      right: 7.000em; }
    .grid-box .grid-content.bottom-left {
      bottom: 8.125em;
      left: 8.125em;
      top: auto;
      right: auto; }
    .grid-box .grid-content.bottom-right {
      bottom: 6.625em;
      right: 3.188em;
      left: auto;
      top: auto; }

.grid-menu {
  width: 50%;
  height: 33.75em;
  background-color: #ccc;
  position: relative;
  float: left;
  overflow: hidden; }
  @media screen and (max-width: 767px) {
    .grid-menu {
      float: none;
      width: 100vw;
      height: auto;
      font-size: 1.833vw; } }
  .grid-menu.center-content {
    text-align: center; }
    .grid-menu.center-content .grid-image {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0; }
    .grid-menu.center-content .btn-more {
      display: inline-block; }
  .grid-menu h2 {
    font-family: 'Palatino';
    font-size: 5em;
    font-weight: 400;
    color: #fff;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin: 0 0 0.500em 0; }
  .grid-menu .btn-more {
    display: block;
    width: 10.935em;
    cursor: pointer; }
    .grid-menu .btn-more img {
      width: 100%; }
  .grid-menu .grid-image {
    position: relative;
    z-index: 1; }
    .grid-menu .grid-image img {
      width: 100.2%;
      -o-object-fit: cover;
      object-fit: cover; }
  .grid-menu .grid-content {
    position: absolute;
    z-index: 2;
    bottom: 8.0625em;
    left: 5.9375em; }
    .grid-menu .grid-content.col-content h2 {
      display: inline-block;
      vertical-align: middle;
      margin: 0 0.975em 0 0; }
    .grid-menu .grid-content.col-content p {
      display: inline-block;
      vertical-align: middle; }
    .grid-menu .grid-content.top-center {
      left: 0;
      right: 0;
      top: 2.375em;
      bottom: auto;
      text-align: center; }
      .grid-menu .grid-content.top-center .btn-more {
        margin: 0 auto; }
    .grid-menu .grid-content.top-left {
      bottom: auto;
      left: 8.188em;
      top: 5.250em;
      right: auto; }
    .grid-menu .grid-content.top-right {
      bottom: auto;
      left: auto;
      top: 6.438em;
      right: 7.000em; }
    .grid-menu .grid-content.bottom-left {
      bottom: 8.0625em;
      left: 5.9375em;
      top: auto;
      right: auto; }
      .grid-menu .grid-content.bottom-left .btn-more {
        margin-left: auto;
        margin-right: auto; }
      @media screen and (max-width: 767px) {
        .grid-menu .grid-content.bottom-left {
          left: 15px; } }
    .grid-menu .grid-content.bottom-right {
      bottom: 7em;
      right: 7.125em;
      left: auto;
      top: auto; }
      .grid-menu .grid-content.bottom-right .btn-more {
        margin-left: auto; }
      @media screen and (max-width: 767px) {
        .grid-menu .grid-content.bottom-right {
          right: 15px; } }

.world-box {
  width: 60em;
  height: 33.75em;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  background-color: #9CC9AF;
  display: none; }
  @media screen and (max-width: 768px) {
    .world-box {
      font-size: 1.2vw; } }
  @media screen and (max-width: 767px) {
    .world-box {
      width: 100vw;
      height: 100vh;
      font-size: 2vw; } }
  .world-box .world-box-texture {
    background: url("../img/world/world-box-texture.png") no-repeat center/100% auto;
    position: absolute;
    width: calc(100% - 1.875em);
    height: calc(100% - 0.625em);
    z-index: 2;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0.313em; }
    @media screen and (max-width: 767px) {
      .world-box .world-box-texture {
        background: url("../img/world/world-box-texture-mobile.png") no-repeat center/100% 100%; } }
  .world-box .btn-close {
    position: absolute;
    z-index: 5;
    right: 2.5em;
    top: 1.875em;
    width: 1.65em;
    height: 1.65em;
    cursor: pointer; }
    @media screen and (max-width: 767px) {
      .world-box .btn-close {
        right: 2.75em;
        top: 2.375em;
        font-size: 2.5vw; } }
    .world-box .btn-close svg, .world-box .btn-close img {
      width: 100%;
      height: 100%; }
  .world-box .world-modal-content {
    padding: 7.125em 15px 0;
    text-align: left;
    display: inline-block;
    position: relative;
    z-index: 3; }
    @media screen and (max-width: 767px) {
      .world-box .world-modal-content {
        padding: 20em 15px 0; } }
    .world-box .world-modal-content h2 {
      font-family: 'Palatino';
      font-size: 3.3125em;
      font-weight: 400;
      color: #4C4948;
      line-height: 1.15;
      letter-spacing: 0.07em;
      margin: 0 0 0.453em 0;
      text-align: center; }
    .world-box .world-modal-content p {
      font-size: 1.4375em;
      line-height: 2.30;
      color: #4C4948;
      letter-spacing: 0.07em;
      margin: 0; }
    @media screen and (max-width: 767px) {
      .world-box .world-modal-content img {
        position: absolute;
        top: 100%;
        float: none !important;
        margin: 5em auto 0;
        left: 0;
        right: 0; } }
    .world-box .world-modal-content .align-right {
      float: right; }
    .world-box .world-modal-content .align-left {
      float: left; }

.mobile-view {
  display: none; }
  @media screen and (max-width: 767px) {
    .mobile-view {
      display: block; } }

.desktop-view {
  display: block; }
  @media screen and (max-width: 767px) {
    .desktop-view {
      display: none; } }

.page-article .main-menu {
  position: relative; }

.page-article .main {
  height: unset; }
  @media only screen and (max-width: 991px) {
    .page-article .main {
      padding-top: 85px; } }

.container__article {
  width: 100%;
  margin: 0 auto; }
  .container__article h4 {
    font-size: 1.25em;
    line-height: 1.3;
    letter-spacing: 0.040em; }
    @media only screen and (max-width: 767px) {
      .container__article h4 {
        font-size: 20px;
        line-height: 26px;
        letter-spacing: .8px; } }
  .container__article .container__article-img {
    margin-bottom: 1.875em; }
  .container__article .article-wrapper {
    max-width: 60.65625em;
    margin: 0 auto;
    padding-top: 57px; }
    @media only screen and (max-width: 767px) {
      .container__article .article-wrapper {
        max-width: 100%;
        padding: 0px 30px;
        padding-top: 60px; } }
  .container__article .article-date {
    margin-bottom: 0.875em; }
    @media only screen and (max-width: 767px) {
      .container__article .article-date {
        margin-bottom: 15px; } }
    .container__article .article-date h6 {
      font-size: 1em;
      line-height: 1.37;
      color: #3C3C3C; }
      @media only screen and (max-width: 767px) {
        .container__article .article-date h6 {
          font-size: 16px; } }
  .container__article .article-title {
    margin-bottom: 0.25em; }
    @media only screen and (max-width: 767px) {
      .container__article .article-title {
        margin-bottom: 7px; } }
    .container__article .article-title h1 {
      font-size: 2.25em;
      font-family: 'ShinGoPro', sans-serif;
      color: #E73820;
      line-height: 1.33;
      letter-spacing: 0.12em; }
      @media only screen and (max-width: 767px) {
        .container__article .article-title h1 {
          font-size: 26px;
          line-height: 26px; } }
  @media only screen and (max-width: 767px) {
    .container__article .article-subtitle {
      margin-bottom: 22px; } }
  .container__article .article-subtitle h4 {
    color: #3C3C3C;
    margin-bottom: 1.625em; }
  .container__article .article-content {
    display: block;
    overflow: hidden; }
    @media only screen and (max-width: 767px) {
      .container__article .article-content {
        margin-bottom: 30px; } }
    .container__article .article-content p, .container__article .article-content h5 {
      margin-bottom: 1.875em !important;
      display: inline; }
    .container__article .article-content p, .container__article .article-content h5 {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1em;
      line-height: 1.75;
      color: #3C3C3C;
      letter-spacing: 0.03em; }
      @media only screen and (max-width: 767px) {
        .container__article .article-content p, .container__article .article-content h5 {
          font-size: 16px;
          letter-spacing: 28px;
          letter-spacing: .48px; } }
    .container__article .article-content h5 {
      font-weight: bold;
      color: #E73820; }
    .container__article .article-content ul {
      list-style-type: none;
      margin-bottom: 1.875em !important; }
    .container__article .article-content li {
      font-size: 1em;
      padding-left: 2.6875em;
      position: relative;
      font-family: Arial, Helvetica, sans-serif;
      line-height: 1.75;
      letter-spacing: 0.03em; }
      @media only screen and (max-width: 767px) {
        .container__article .article-content li {
          font-size: 16px;
          letter-spacing: 28px;
          letter-spacing: .48px; } }
      .container__article .article-content li::before {
        content: '';
        background: url(../img/Elipse-Bullet.svg) center center/contain no-repeat;
        display: block;
        position: absolute;
        width: 0.625em;
        height: 0.625em;
        top: 50%;
        left: 2%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
  .container__article .article-img {
    width: 100%;
    height: auto; }
    .container__article .article-img-wrapper {
      max-width: 100%;
      height: auto;
      width: 100%; }
  .container__article .article-content-wrapper {
    padding: 1.875em 0 3.125em 0;
    border-bottom: 3px #EFEFEF solid; }
  .container__article .paragraph-title {
    color: #E73820;
    margin-bottom: 0.4375em;
    font-weight: bold; }
  .container__article .btn__article-download {
    margin-bottom: 2.53125em; }
    @media only screen and (max-width: 767px) {
      .container__article .btn__article-download {
        margin-bottom: 40px; } }
  .container__article .caption-wrapper {
    margin-top: 0.75em; }
    .container__article .caption-wrapper.align-center {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      @media only screen and (max-width: 767px) {
        .container__article .caption-wrapper.align-center {
          display: inline; } }
    .container__article .caption-wrapper span {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 0.875em;
      line-height: 1.57;
      color: #BDC1C4; }
      .container__article .caption-wrapper span:first-child {
        font-weight: bold; }
      @media only screen and (max-width: 767px) {
        .container__article .caption-wrapper span {
          font-size: 14px;
          line-height: 16px;
          letter-spacing: 0px; } }
  .container__article .container__paragraph-img {
    max-width: 22.625em;
    display: block;
    float: right;
    width: 100%;
    padding-left: 2.5em; }
    @media only screen and (max-width: 767px) {
      .container__article .container__paragraph-img {
        max-width: 100%;
        padding: 0;
        float: unset; } }
  .container__article .article-quote-wrapper {
    padding: 3.625em 2.375em;
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 2.5em 0;
    border-top: 3px #EFEFEF solid;
    border-bottom: 3px #EFEFEF solid; }
    @media only screen and (max-width: 767px) {
      .container__article .article-quote-wrapper {
        margin: 35px 0px; } }
    .container__article .article-quote-wrapper::before {
      content: '';
      background: url(../img/quote-img.svg) center center/contain no-repeat;
      display: block;
      position: absolute;
      width: 2.8125em;
      height: 2.8125em;
      top: 0;
      left: 0;
      -webkit-transform: translate(15%, -68%);
      -ms-transform: translate(15%, -68%);
      transform: translate(15%, -68%); }
      @media only screen and (max-width: 767px) {
        .container__article .article-quote-wrapper::before {
          width: 45px;
          height: 45px; } }
    .container__article .article-quote-wrapper span {
      font-size: 1.625em;
      line-height: 1.38;
      letter-spacing: 0.065em;
      color: #E73820;
      font-weight: bold; }
      @media only screen and (max-width: 767px) {
        .container__article .article-quote-wrapper span {
          font-size: 26px;
          line-height: 1.38;
          letter-spacing: 1.04px; } }

.back-to-top-wrapper {
  margin: 3.75em 0; }
  @media only screen and (max-width: 767px) {
    .back-to-top-wrapper {
      max-width: 100%;
      padding: 0 30px;
      margin: 50px 0; } }

.btn__back-to-top {
  position: relative; }
  .btn__back-to-top::before {
    content: '';
    background: url(../img/btn-back2top-img.svg) center center/contain no-repeat;
    display: block;
    position: absolute;
    width: 2.5em;
    height: 2.5em;
    top: 50%;
    left: 0;
    -webkit-transform: translate(-2%, -68%);
    -ms-transform: translate(-2%, -68%);
    transform: translate(-2%, -68%); }
    @media only screen and (max-width: 767px) {
      .btn__back-to-top::before {
        width: 40px;
        height: 40px; } }

.btn__article-download {
  position: relative; }
  .btn__article-download::before {
    content: '';
    background: url(../img/btn-download-img.svg) center center/contain no-repeat;
    display: block;
    position: absolute;
    width: 2.5em;
    height: 2.5em;
    top: 50%;
    left: 0%;
    -webkit-transform: translate(-2%, -68%);
    -ms-transform: translate(-2%, -68%);
    transform: translate(-2%, -68%); }
    @media only screen and (max-width: 767px) {
      .btn__article-download::before {
        width: 40px;
        height: 40px; } }

.container__sompo-table {
  position: relative;
  margin-bottom: 1.875em; }

@media only screen and (max-width: 767px) {
  .sompo-table-wrapper {
    overflow-x: scroll;
    margin-left: 133px; } }

.sompo-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  table-layout: fixed; }
  @media only screen and (max-width: 767px) {
    .sompo-table {
      table-layout: auto; } }
  .sompo-table thead {
    border-bottom: 5px #E73820 solid; }
  .sompo-table th, .sompo-table td {
    word-break: break-word; }
    @media only screen and (max-width: 767px) {
      .sompo-table th, .sompo-table td {
        word-break: unset; } }
  .sompo-table th {
    font-size: 0.875em;
    line-height: 1.28;
    letter-spacing: 0.020em;
    background-color: #FAFAFA;
    text-align: center;
    padding: 0.857em;
    color: #3C3C3C;
    max-width: 80x; }
    @media only screen and (max-width: 767px) {
      .sompo-table th {
        font-size: 14px;
        letter-spacing: .28px;
        padding: 10px;
        white-space: nowrap; }
        .sompo-table th:nth-child(1) {
          background-color: #FAFAFA;
          position: absolute;
          left: 0;
          width: 136px;
          height: 59px;
          border-bottom: 5px #E73820 solid;
          -webkit-box-shadow: 35px 0px 22px -27px black;
          box-shadow: 35px 0px 22px -27px black; } }
  .sompo-table tbody tr {
    border-bottom: 5px solid #fff; }
    .sompo-table tbody tr:nth-child(even) td {
      background-color: #EFEFEF; }
    .sompo-table tbody tr td {
      background-color: #FAFAFA; }
  .sompo-table tbody td {
    font-size: 0.875em;
    line-height: 1.57;
    letter-spacing: 0.020em;
    text-align: center;
    padding: 1.071em 0;
    color: #3C3C3C; }
    @media only screen and (max-width: 767px) {
      .sompo-table tbody td {
        font-size: 14px;
        letter-spacing: .28px;
        padding: 15px 0;
        padding: 15px 10px;
        white-space: nowrap; } }
    .sompo-table tbody td span {
      font-size: 0.75em;
      line-height: 1.83;
      letter-spacing: 0.020em;
      color: #A5A5A5;
      margin-right: 10px; }
      @media only screen and (max-width: 767px) {
        .sompo-table tbody td span {
          font-size: 12px;
          letter-spacing: .24px; } }
    .sompo-table tbody td:nth-child(1), .sompo-table tbody td:nth-child(6), .sompo-table tbody td:nth-child(8), .sompo-table tbody td:nth-child(9) {
      font-weight: bold; }
  @media only screen and (max-width: 767px) {
    .sompo-table tbody td:nth-child(1) {
      position: absolute;
      left: 0;
      -webkit-box-shadow: 35px 0px 16px -25px black;
      box-shadow: 35px 0px 16px -25px black; } }

.panel-layer {
  position: absolute;
  right: 2%;
  overflow-y: visible;
  top: 50%;
  -webkit-transform: translateY(-44%);
  -ms-transform: translateY(-44%);
  transform: translateY(-44%); }

.container__panel-layer {
  height: 100vh;
  overflow-y: scroll; }
  @media only screen and (max-width: 767px) {
    .container__panel-layer {
      height: unset;
      overflow: inherit;
      background: #F2F3F0; } }

.panel-layer-wrapper {
  padding: 15vh 0;
  margin-right: 1.6875em;
  width: 35.1875em; }
  @media only screen and (max-width: 767px) {
    .panel-layer-wrapper {
      padding: 0;
      width: 100%;
      padding: 0px 30px;
      position: relative;
      -webkit-transform: translateY(-45px);
      -ms-transform: translateY(-45px);
      transform: translateY(-45px); } }

.panel {
  width: 100%;
  margin-bottom: 140px; }

.ranking-panel {
  width: 100%; }

.container__ranking {
  padding-top: 0.3125em; }
  @media only screen and (max-width: 767px) {
    .container__ranking {
      padding-top: 8px; } }

.ranking-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }
  .ranking-item-wrapper {
    background: #fff;
    padding: 0.75em 1.875em;
    margin-bottom: 0.3125em;
    overflow: hidden;
    border-radius: 0.625em;
    min-height: 3.4375em;
    cursor: pointer; }
    .ranking-item-wrapper:hover {
      background: #ddd; }
    @media only screen and (max-width: 767px) {
      .ranking-item-wrapper {
        min-height: 55px;
        border-radius: 10px;
        margin-bottom: 5px;
        padding: 13px;
        padding-right: 20px; } }

.ranking-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%; }

.rank {
  font-size: 0.75em;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.83;
  letter-spacing: 0.020em;
  color: #A3A3A3;
  font-weight: bold;
  margin-right: 2.500em; }
  @media only screen and (max-width: 767px) {
    .rank {
      font-size: 12px;
      letter-spacing: .24px;
      margin-right: 10px; } }

.country-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  max-width: 10.625em; }
  @media only screen and (max-width: 767px) {
    .country-wrapper {
      max-width: 170px; } }

.country-img {
  width: 1.875em;
  height: 1.875em;
  margin-right: 0.625em; }
  @media only screen and (max-width: 767px) {
    .country-img {
      width: 30px;
      height: 30px;
      margin-right: 10px; } }

.country-name {
  font-size: 1em;
  line-height: 1.37;
  letter-spacing: 0.020em;
  font-weight: 300;
  color: #3C3C3C; }
  @media only screen and (max-width: 767px) {
    .country-name {
      font-size: 16px;
      letter-spacing: .24px; } }

.cup-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 3.125em; }
  @media only screen and (max-width: 767px) {
    .cup-wrapper {
      display: none; } }

.cup-item {
  width: 2.1875em;
  height: 1.875em;
  position: relative;
  margin-right: 1.875em; }
  .cup-item:last-child {
    margin-right: 0; }
  .cup-item span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -79%);
    -ms-transform: translate(-50%, -79%);
    transform: translate(-50%, -79%);
    font-size: 0.75em;
    line-height: 1.41;
    color: #4B4510; }

.points {
  font-size: 1em;
  line-height: 1.37;
  letter-spacing: 0.020em;
  color: #3C3C3C; }
  @media only screen and (max-width: 767px) {
    .points {
      font-size: 16px;
      letter-spacing: .32px;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      right: 0; } }

.ranking-legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%; }
  .ranking-legend-wrapper {
    background: #fff;
    padding: 0.75em 1.875em;
    margin-bottom: 0.3125em;
    overflow: hidden;
    border-radius: 0.625em;
    min-height: 3.4375em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 0px 6.25em; }
    @media only screen and (max-width: 767px) {
      .ranking-legend-wrapper {
        display: none; } }

.legend-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.legend-text {
  font-size: 0.875em;
  line-height: 1.28;
  letter-spacing: 0.020em; }

.legend-circle {
  width: 0.625em;
  height: 0.625em;
  border-radius: 50%;
  margin-right: 0.625em; }
  .legend-circle.gold-circle {
    background-color: #FFE200; }
  .legend-circle.silver-circle {
    background-color: #BEBEBE; }
  .legend-circle.bronze-circle {
    background-color: #C49344; }

.article-panel {
  width: 100%;
  border-radius: 0.625em;
  overflow: hidden;
  background-color: #fff; }
  @media only screen and (max-width: 767px) {
    .article-panel {
      border-radius: 10px; } }

.panel-content {
  width: 100%; }

.article-panel-feature-img {
  height: 18.75em; }
  @media only screen and (max-width: 767px) {
    .article-panel-feature-img {
      min-height: 48em;
      height: 100%;
      width: auto; } }

.article-panel-content {
  padding: 2.5em; }

.article-panel-date {
  margin-bottom: 0.5em; }
  .article-panel-date h6 {
    font-family: Arial, Helvetica, sans-serif;
    color: #BDC1C4;
    font-size: 0.875em;
    line-height: 1.57;
    font-weight: 100; }
    @media only screen and (max-width: 767px) {
      .article-panel-date h6 {
        font-size: 14px; } }

.article-panel-title {
  margin-bottom: 1.6875em; }
  .article-panel-title h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.375em;
    color: #E73820;
    line-height: 1.36;
    letter-spacing: 0.040em; }
    @media only screen and (max-width: 767px) {
      .article-panel-title h1 {
        font-size: 22px;
        letter-spacing: 0.88px; } }

.link__read-more {
  font-size: 0.875em;
  color: #3C3C3C;
  line-height: 1.57;
  letter-spacing: 0.112em;
  font-family: Helvetica, sans-serif;
  text-decoration: none;
  font-weight: bold;
  position: relative; }
  @media only screen and (max-width: 767px) {
    .link__read-more {
      font-size: 14px;
      letter-spacing: 0.56px; } }
  .link__read-more:hover {
    color: #E73820; }
  .link__read-more::after {
    content: '';
    background: url(../img/read-more-arrow.svg) center center/contain no-repeat;
    display: block;
    position: absolute;
    font-size: 1em;
    width: 0.4375em;
    height: 0.6875em;
    top: 50%;
    right: -18%;
    -webkit-transform: translateY(-45%);
    -ms-transform: translateY(-45%);
    transform: translateY(-45%); }

.hero-game-layer .hero-desktop {
  display: block; }
  @media only screen and (max-width: 767px) {
    .hero-game-layer .hero-desktop {
      display: none; } }

.hero-game-layer .hero-mobile {
  display: none; }
  @media only screen and (max-width: 767px) {
    .hero-game-layer .hero-mobile {
      display: block;
      position: relative;
      width: 100%;
      height: 100%; } }

.hero-game-layer .hero-layer {
  width: 100%;
  height: 100%; }

.hero-game-layer .hero-bg-layer {
  position: absolute; }

.hero-game-layer .hero-content-layer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media only screen and (max-width: 767px) {
    .hero-game-layer .hero-content-layer {
      padding: 0px 30px; } }

.hero-game-layer .hero-content-wrapper {
  text-align: center;
  -webkit-transform: translateY(-65px);
  -ms-transform: translateY(-65px);
  transform: translateY(-65px); }

.hero-game-layer .hero-title {
  margin-bottom: 23px; }
  .hero-game-layer .hero-title h1 {
    font-family: 'ShinGoPro';
    color: #E73820;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 6.12px; }

.hero-game-layer .hero-subtitle {
  margin-bottom: 6px; }
  .hero-game-layer .hero-subtitle h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #3C3C3C;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: .8px; }

.hero-game-layer .hero-excerpt p {
  color: #3C3C3C;
  font-size: 14px;
  line-height: 22px;
  font-style: italic; }

.hero-game-layer .container__hero-mobile {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto; }

.parallax-bg {
  background: url("../img/home-banner.jpg") no-repeat center/cover;
  height: calc(100vh - 13.688em);
  width: 100%; }

.parallax-container {
  height: 100vh;
  min-height: 55vw;
  overflow: hidden;
  position: relative; }

.page-home header {
  position: relative;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 4; }
  .page-home header .main-menu {
    background-color: white; }

.page-home .wrapper {
  overflow: hidden; }

.page-home footer {
  position: relative;
  bottom: 0;
  left: 0;
  z-index: 4; }
  @media screen and (max-width: 767px) {
    .page-home footer {
      position: absolute; } }

.page-home ::-webkit-scrollbar-track {
  margin: 15vh 0; }
  @media only screen and (max-width: 767px) {
    .page-home ::-webkit-scrollbar-track {
      margin: 0; } }

.hello-wrapper {
  position: relative; }
  .hello-wrapper .hello-content {
    position: relative;
    z-index: 3; }
    @media screen and (max-width: 767px) {
      .hello-wrapper .hello-content {
        font-size: 1.3vw;
        padding-top: 2em; } }
    .hello-wrapper .hello-content .content-row {
      position: relative; }
      .hello-wrapper .hello-content .content-row .content-absolute {
        width: 100%;
        min-height: 67.500em;
        top: 0;
        left: 0;
        position: absolute;
        height: 100%;
        z-index: 2; }
        @media screen and (max-width: 767px) {
          .hello-wrapper .hello-content .content-row .content-absolute {
            min-height: auto; } }
      .hello-wrapper .hello-content .content-row .content-wrap {
        position: relative; }
        .hello-wrapper .hello-content .content-row .content-wrap .content-item {
          position: relative;
          min-height: 67.500em; }
          @media screen and (max-width: 767px) {
            .hello-wrapper .hello-content .content-row .content-wrap .content-item {
              min-height: 44em; } }
      .hello-wrapper .hello-content .content-row .content-position {
        position: absolute;
        left: 0;
        top: 0; }
        @media screen and (max-width: 767px) {
          .hello-wrapper .hello-content .content-row .content-position {
            position: relative;
            width: 100%; } }
        @media screen and (max-width: 767px) {
          .hello-wrapper .hello-content .content-row .content-position .content-desc {
            padding: 0 2.8125em !important;
            width: 40%; }
            .hello-wrapper .hello-content .content-row .content-position .content-desc br {
              display: none; } }
        .hello-wrapper .hello-content .content-row .content-position.text-top-left .content-desc {
          padding: 5.875em 4.8125em; }
          @media screen and (max-width: 767px) {
            .hello-wrapper .hello-content .content-row .content-position.text-top-left .content-desc {
              padding: 5.875em 2.8125em; } }
        .hello-wrapper .hello-content .content-row .content-position.text-top-right {
          right: 0;
          left: auto; }
          .hello-wrapper .hello-content .content-row .content-position.text-top-right .content-desc {
            padding: 5.875em 4.8125em; }
            @media screen and (max-width: 767px) {
              .hello-wrapper .hello-content .content-row .content-position.text-top-right .content-desc {
                padding: 5.875em 2.8125em;
                margin-left: auto; } }
        @media screen and (min-width: 768px) {
          .hello-wrapper .hello-content .content-row .content-position.text-top-center {
            text-align: center;
            left: 0;
            right: 0; } }
        @media screen and (min-width: 768px) {
          .hello-wrapper .hello-content .content-row .content-position.text-top-center .content-desc {
            text-align: left;
            display: inline-block; } }
        .hello-wrapper .hello-content .content-row .content-position.text-middle-left {
          left: 0;
          right: auto;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%); }
          @media screen and (max-width: 767px) {
            .hello-wrapper .hello-content .content-row .content-position.text-middle-left {
              width: 100%; } }
          .hello-wrapper .hello-content .content-row .content-position.text-middle-left .content-desc {
            padding-left: 12.0625em; }
            @media screen and (max-width: 767px) {
              .hello-wrapper .hello-content .content-row .content-position.text-middle-left .content-desc {
                padding-left: 5.03125em !important; } }
        .hello-wrapper .hello-content .content-row .content-position.text-middle-right {
          right: 0;
          left: auto;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%); }
          .hello-wrapper .hello-content .content-row .content-position.text-middle-right .content-desc {
            padding-right: 7.1875em; }
            @media screen and (max-width: 767px) {
              .hello-wrapper .hello-content .content-row .content-position.text-middle-right .content-desc {
                padding-right: 2.8125em;
                margin-left: auto; } }
        .hello-wrapper .hello-content .content-row .content-position.text-bottom-right {
          right: 0;
          left: auto;
          top: auto;
          bottom: 0; }
          @media screen and (max-width: 767px) {
            .hello-wrapper .hello-content .content-row .content-position.text-bottom-right {
              top: 0;
              bottom: auto;
              padding-top: 10em; } }
          .hello-wrapper .hello-content .content-row .content-position.text-bottom-right .content-desc {
            padding: 1.25em 4.375em 1.25em 7.5em; }
            @media screen and (max-width: 767px) {
              .hello-wrapper .hello-content .content-row .content-position.text-bottom-right .content-desc {
                margin-left: auto; } }
      .hello-wrapper .hello-content .content-row .img-wrap {
        position: relative;
        min-height: 67.500em; }
        @media screen and (max-width: 767px) {
          .hello-wrapper .hello-content .content-row .img-wrap {
            min-height: auto; } }
        .hello-wrapper .hello-content .content-row .img-wrap img {
          width: 100%; }
        @media screen and (max-width: 767px) {
          .hello-wrapper .hello-content .content-row .img-wrap.image-align-middle {
            -webkit-transform: translate3d(-50%, 25%, 0);
            transform: translate3d(-50%, 25%, 0); } }
      .hello-wrapper .hello-content .content-row h1 {
        font-size: 5.6875em;
        margin: 0;
        color: #E73820;
        letter-spacing: 0.091em; }
        .hello-wrapper .hello-content .content-row h1 svg, .hello-wrapper .hello-content .content-row h1 img {
          width: 9.114em !important;
          height: auto !important; }
          @media screen and (max-width: 767px) {
            .hello-wrapper .hello-content .content-row h1 svg, .hello-wrapper .hello-content .content-row h1 img {
              width: 100% !important; } }
      .hello-wrapper .hello-content .content-row h2 {
        font-size: 4.1875em;
        font-weight: 400;
        margin: 0;
        color: #4C4948;
        letter-spacing: 0.07em; }
        .hello-wrapper .hello-content .content-row h2 svg, .hello-wrapper .hello-content .content-row h2 img {
          width: 12.373em !important;
          height: auto !important; }
          @media screen and (max-width: 767px) {
            .hello-wrapper .hello-content .content-row h2 svg, .hello-wrapper .hello-content .content-row h2 img {
              width: 100% !important; } }
      .hello-wrapper .hello-content .content-row p {
        font-size: 2.6875em;
        letter-spacing: 0.07em;
        line-height: 1.72;
        color: #4C4948;
        margin-top: 0.5em;
        margin-bottom: 0.3em; }
        @media screen and (max-width: 767px) {
          .hello-wrapper .hello-content .content-row p {
            margin: 0; } }
      .hello-wrapper .hello-content .content-row .internal {
        padding-left: 0; }
        @media screen and (max-width: 767px) {
          .hello-wrapper .hello-content .content-row .internal {
            font-size: 1.2vw; } }
        .hello-wrapper .hello-content .content-row .internal p {
          font-size: 1.5625em;
          font-weight: bold;
          letter-spacing: 0.07em;
          line-height: 1.76;
          color: #E73820; }
          @media screen and (max-width: 767px) {
            .hello-wrapper .hello-content .content-row .internal p {
              font-size: 2.375em;
              line-height: 1.72; } }

.texture-bg {
  background: url("../img/texture-bg.jpg") repeat-y;
  background-size: 100% auto;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  top: 0; }

.spiral-bg {
  background: url("../img/spiral-bg.png") no-repeat;
  background-size: 100% auto;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  top: 0; }

@media screen and (max-width: 767px) {
  .page-hello.page-internal .hello-wrapper .hello-content .content-row .content-absolute {
    position: relative; }
  .page-hello.page-internal .hello-wrapper .hello-content .content-row .content-position {
    position: relative; }
  .page-hello.page-internal .hello-wrapper .hello-content .content-row .content-wrap .content-item {
    padding-bottom: 5em; }
  .page-hello.page-internal .hello-wrapper .hello-content .content-row .img-wrap {
    position: absolute;
    top: 0; }
  .page-hello.page-internal .hello-wrapper .hello-content .content-row.sompony-content-4 .content-position.text-middle-left {
    position: absolute; }
  .page-hello.page-internal .hello-wrapper .hello-content .content-row.sompony-content-5 {
    overflow: hidden; }
  .page-hello.page-internal .hello-wrapper .hello-content .content-row.sompony-content-5 .img-wrap {
    -webkit-transform: translateX(17em);
    -ms-transform: translateX(17em);
    transform: translateX(17em); }
  .page-hello.page-internal .hello-wrapper .hello-content .content-row.sompony-content-6 {
    padding-bottom: 15em; }
  .page-hello.page-internal .hello-wrapper .hello-content .content-row .content-position.text-middle-right {
    top: 0;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  .page-hello.page-internal .hello-wrapper .hello-content .content-row .content-position.text-middle-left {
    top: 0;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }

.world-wrapper {
  overflow: hidden; }
  .world-wrapper .background-texture {
    position: absolute;
    z-index: 1;
    background: url("../img/sompony-map-texture.jpg") no-repeat center/cover;
    width: 100%;
    height: 100%; }
  .world-wrapper .background-cloud {
    position: absolute;
    pointer-events: none;
    z-index: 5;
    background: url("../img/clouds-side.png") repeat-y center top/100% auto;
    width: 100%;
    height: 100%;
    top: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
    .world-wrapper .background-cloud-left-1 {
      background: url("../img/clouds-left-1.png") no-repeat center top/100% auto;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0; }
    .world-wrapper .background-cloud-left-2 {
      background: url("../img/clouds-left-2.png") no-repeat center top/100% auto;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 4; }
    .world-wrapper .background-cloud-left-3 {
      background: url("../img/clouds-left-3.png") no-repeat center top/100% auto;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0; }
    .world-wrapper .background-cloud-right-1 {
      background: url("../img/clouds-right-1.png") no-repeat center top/100% auto;
      width: 100%;
      height: 100%;
      right: 0;
      top: 0; }
    .world-wrapper .background-cloud-right-2 {
      background: url("../img/clouds-right-2.png") no-repeat center top/100% auto;
      width: 100%;
      height: 100%;
      right: 0;
      top: 0;
      z-index: 4; }
      @media screen and (max-width: 767px) {
        .world-wrapper .background-cloud-right-2 {
          top: 2vh; } }
    .world-wrapper .background-cloud-right-3 {
      background: url("../img/clouds-right-3.png") no-repeat center top/100% auto;
      width: 100%;
      height: 100%;
      right: 0;
      top: 0; }
  .world-wrapper .world-layer {
    position: relative;
    width: 100vw;
    overflow: hidden; }
  .world-wrapper .world-banner {
    z-index: 2; }
    .world-wrapper .world-banner .banner-content {
      position: relative;
      z-index: 3;
      text-align: center;
      padding: 15.125em 15px 12.8125em; }
      .world-wrapper .world-banner .banner-content h1 {
        font-size: 7.31125em;
        letter-spacing: 0.135em;
        line-height: 1.75;
        color: #E73820;
        margin: 0 0 0.641em 0;
        font-weight: 400; }
        .world-wrapper .world-banner .banner-content h1 svg {
          width: 9.884em;
          height: auto;
          margin: 0 auto; }
      .world-wrapper .world-banner .banner-content p {
        font-size: 2.24812em;
        letter-spacing: 0.07em;
        line-height: 1.69;
        color: #4C4948; }
        @media screen and (max-width: 767px) {
          .world-wrapper .world-banner .banner-content p {
            font-size: 16px;
            width: 65%;
            margin: 0 auto; }
            .world-wrapper .world-banner .banner-content p br {
              display: none; } }
  .world-wrapper .world-map {
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    position: relative;
    z-index: 6;
    top: 1px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
    @media screen and (max-width: 1024px) {
      .world-wrapper .world-map {
        height: 576px; } }
    @media screen and (max-width: 1023px) {
      .world-wrapper .world-map .background-cloud {
        display: none; } }
    .world-wrapper .world-map .background-sompony-map {
      min-width: 1024px;
      height: 100%;
      position: relative;
      left: 0; }
      @media screen and (max-width: 1023px) {
        .world-wrapper .world-map .background-sompony-map {
          position: absolute; } }
      .world-wrapper .world-map .background-sompony-map .map-layer #map_animation_container, .world-wrapper .world-map .background-sompony-map .map-layer #map_canvas, .world-wrapper .world-map .background-sompony-map .map-layer #map_dom_overlay_container {
        width: 100vw !important;
        height: 67.5em !important; }
        @media screen and (max-width: 1024px) {
          .world-wrapper .world-map .background-sompony-map .map-layer #map_animation_container, .world-wrapper .world-map .background-sompony-map .map-layer #map_canvas, .world-wrapper .world-map .background-sompony-map .map-layer #map_dom_overlay_container {
            width: 1024px !important;
            height: 576px !important; } }
    .world-wrapper .world-map .map-labels {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 4;
      top: 0;
      left: 0; }
      @media screen and (max-width: 1024px) {
        .world-wrapper .world-map .map-labels {
          font-size: 8.52992px; } }
      .world-wrapper .world-map .map-labels .map-item-label {
        position: absolute;
        cursor: pointer;
        z-index: 5; }
        .world-wrapper .world-map .map-labels .map-item-label-1 {
          width: 17.3125em;
          height: 11.4375em;
          left: 24.375em;
          top: 6.625em; }
        .world-wrapper .world-map .map-labels .map-item-label-2 {
          width: 24.9375em;
          height: 12.8125em;
          left: 47.3125em;
          top: 0.75em; }
        .world-wrapper .world-map .map-labels .map-item-label-3 {
          width: 21.625em;
          height: 13.8125em;
          left: 86.375em;
          top: 0.75em; }
        .world-wrapper .world-map .map-labels .map-item-label-4 {
          width: 19em;
          height: 12.625em;
          left: 37.9375em;
          top: 18.25em; }
        .world-wrapper .world-map .map-labels .map-item-label-5 {
          width: 18em;
          height: 12.1875em;
          left: 79.375em;
          top: 17.5625em; }
        .world-wrapper .world-map .map-labels .map-item-label-6 {
          width: 18.75em;
          height: 9.875em;
          left: 23.0625em;
          top: 37.5625em; }
        .world-wrapper .world-map .map-labels .map-item-label-7 {
          width: 18.0625em;
          height: 11.4375em;
          left: 54.1875em;
          top: 36.875em; }
        .world-wrapper .world-map .map-labels .map-item-label-8 {
          width: 17.875em;
          height: 9.875em;
          left: 33.0625em;
          top: 54.125em; }
        .world-wrapper .world-map .map-labels .map-item-label-9 {
          width: 17.5em;
          height: 9.1875em;
          left: 72.8125em;
          top: 46.5625em; }
    .world-wrapper .world-map img {
      width: 100%; }
      @media screen and (max-width: 1024px) {
        .world-wrapper .world-map img {
          width: 1024px;
          margin: 0 auto; } }
  .world-wrapper .world-characters {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    margin-top: -1px; }
    .world-wrapper .world-characters h1 {
      font-family: 'Palatino';
      font-size: 6.7em;
      line-height: 1.19;
      letter-spacing: 0.05em;
      font-weight: 100;
      color: #E73820;
      margin: 0;
      position: absolute;
      right: 0.784em;
      top: 0.653em; }
      @media screen and (max-width: 767px) {
        .world-wrapper .world-characters h1 {
          font-size: 11.7em;
          right: auto;
          top: 0.521em;
          left: 0.380em; } }
    .world-wrapper .world-characters.internal-world h1 {
      right: auto;
      left: 0.886em; }
      @media screen and (max-width: 767px) {
        .world-wrapper .world-characters.internal-world h1 {
          position: relative; } }
    .world-wrapper .world-characters .internal {
      padding-left: 0;
      position: absolute;
      top: 5.625em;
      right: 6.4375em; }
      @media screen and (max-width: 767px) {
        .world-wrapper .world-characters .internal {
          position: relative;
          right: auto;
          left: 0;
          top: auto;
          margin-top: 7em;
          padding-left: 10.5em;
          padding-right: 15px;
          margin-bottom: -25em; } }
      .world-wrapper .world-characters .internal p {
        font-size: 1.5625em;
        font-weight: bold;
        letter-spacing: 0.07em;
        line-height: 1.76;
        color: #E73820; }
        @media screen and (max-width: 767px) {
          .world-wrapper .world-characters .internal p {
            font-size: 3.375em;
            line-height: 1.72; } }
    .world-wrapper .world-characters #group_animation_container, .world-wrapper .world-characters #group_canvas, .world-wrapper .world-characters #group_dom_overlay_container {
      width: 100vw !important;
      height: 67.5em !important; }
    .world-wrapper .world-characters img {
      width: 100%; }
  .world-wrapper .grid-menu-wrap {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    position: relative; }

.media-wrapper {
  padding: 0 17.4375em 30px;
  background: #F0ECE1;
  position: relative;
  min-height: calc(100vh - 12.875em); }
  @media screen and (max-width: 768px) {
    .media-wrapper {
      padding: 15px 15px 9em; } }
  .media-wrapper .banner-content {
    position: relative;
    z-index: 3;
    text-align: center;
    padding: 7.5em 15px 0; }
    @media screen and (max-width: 767px) {
      .media-wrapper .banner-content {
        font-size: 1.6vw; } }
    .media-wrapper .banner-content h1 {
      font-family: 'ShinGoPro', sans-serif;
      font-size: 5.6875em;
      letter-spacing: 0.135em;
      line-height: 1.3;
      color: #E73820;
      margin: 0 0 0.606em 0;
      font-weight: 400; }
      .media-wrapper .banner-content h1 svg {
        width: 9.884em;
        height: auto;
        margin: 0 auto; }
  .media-wrapper .media-image {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    @media screen and (max-width: 768px) {
      .media-wrapper .media-image {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
    .media-wrapper .media-image .clear {
      display: none !important; }
    .media-wrapper .media-image-content iframe {
      width: 63.8125em;
      height: 30em; }
      @media screen and (max-width: 767px) {
        .media-wrapper .media-image-content iframe {
          max-width: 80.813em;
          height: 45em;
          width: 100%; } }
    .media-wrapper .media-image__container {
      margin-bottom: 3.90625em; }
      @media screen and (max-width: 768px) {
        .media-wrapper .media-image__container {
          margin-bottom: 30px; } }
    .media-wrapper .media-image__box {
      width: 33.86563em;
      height: 19.04938em;
      background-color: #B3B3B3; }
      .media-wrapper .media-image__box .d-none {
        display: none; }
      @media screen and (max-width: 768px) {
        .media-wrapper .media-image__box {
          width: 80em;
          height: 100%; } }
    .media-wrapper .media-image__img {
      max-width: 100%;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
    .media-wrapper .media-image__sizes {
      width: 33.86563em;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
      @media screen and (max-width: 768px) {
        .media-wrapper .media-image__sizes {
          width: 80em; } }
      .media-wrapper .media-image__sizes > span {
        color: #5A5A5A;
        text-decoration: none;
        font-size: 1.125em;
        line-height: 1.75;
        display: inline-block;
        letter-spacing: 0.07em; }
        @media screen and (max-width: 1680px) {
          .media-wrapper .media-image__sizes > span {
            font-size: 14px; } }
      .media-wrapper .media-image__sizes a {
        color: #E73820;
        font-size: 1.125em;
        line-height: 1.75;
        text-decoration: underline;
        font-weight: 700;
        margin-right: 0.875em; }
        .media-wrapper .media-image__sizes a:hover {
          text-decoration: none; }
        .media-wrapper .media-image__sizes a:last-child {
          margin-right: 0; }
        @media screen and (max-width: 1680px) {
          .media-wrapper .media-image__sizes a {
            font-size: 14px; } }

.media-modal {
  width: 90%;
  margin: 0 auto;
  left: 0;
  right: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  pointer-events: none; }
  @media screen and (min-width: 767px) and (max-width: 812px) and (orientation: landscape) {
    .media-modal {
      width: 70%; } }
  .media-modal .media-wrap {
    display: inline-block;
    position: relative; }
  .media-modal .btn-close {
    position: absolute;
    z-index: 5;
    right: 2.5em;
    top: 1.875em;
    width: 1.65em;
    height: 1.65em;
    cursor: pointer;
    pointer-events: auto; }
    @media screen and (max-width: 767px) {
      .media-modal .btn-close {
        right: 1.75em;
        top: 1.375em;
        font-size: 2.5vw; } }
    .media-modal .btn-close svg, .media-modal .btn-close img {
      width: 100%;
      height: 100%; }
  .media-modal img {
    pointer-events: auto; }
    .media-modal img.landscape {
      width: 100%; }
    .media-modal img.portrait {
      height: 90vh; }
      @media screen and (max-width: 767px) and (min-height: 635px) {
        .media-modal img.portrait {
          height: 75vh; } }

.style-guide-wrapper {
  overflow-x: hidden; }
  @media screen and (max-width: 767px) {
    .style-guide-wrapper {
      font-size: 2vw; }
      .style-guide-wrapper br {
        display: none; } }

.style-guide-banner {
  background-color: #E73820;
  height: 61.875em;
  width: 100vw;
  position: relative; }
  @media screen and (max-width: 767px) {
    .style-guide-banner {
      height: 100vh;
      font-size: 1.3vw; } }
  .style-guide-banner .banner-title {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%; }
    .style-guide-banner .banner-title img, .style-guide-banner .banner-title svg {
      width: 100%;
      max-width: 52.5625em; }
    .style-guide-banner .banner-title h1 {
      font-size: 1em;
      margin: 0;
      color: #fff; }
    .style-guide-banner .banner-title p {
      font-size: 4.375em;
      line-height: 1.4;
      color: #fff;
      letter-spacing: 0.06em;
      margin: 0; }
  .style-guide-banner .banner-version {
    position: absolute;
    bottom: 1.0625em;
    right: 1.875em; }
    @media screen and (max-width: 767px) {
      .style-guide-banner .banner-version {
        bottom: auto;
        top: 50%;
        left: 0;
        right: 0;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        text-align: center;
        margin-top: 10em;
        font-size: 2.6vw; } }
    .style-guide-banner .banner-version p {
      font-size: 1.5em;
      line-height: 1.75;
      color: #fff;
      margin: 0; }
  .style-guide-banner .banner-link {
    position: absolute;
    bottom: 1.0625em;
    left: 2.151em; }
    @media screen and (max-width: 767px) {
      .style-guide-banner .banner-link {
        bottom: auto;
        top: 50%;
        left: 0;
        right: 0;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        text-align: center;
        margin-top: 7em;
        font-size: 2.6vw; } }
    .style-guide-banner .banner-link a {
      font-size: 1.5em;
      line-height: 1.75;
      color: #fff;
      margin: 0;
      text-decoration: none; }
      .style-guide-banner .banner-link a i {
        display: inline-block;
        margin-left: 1em;
        width: 0.9em;
        position: relative;
        top: -0.1em; }
        .style-guide-banner .banner-link a i svg {
          width: 100%; }
      .style-guide-banner .banner-link a:hover {
        text-decoration: underline; }

@media screen and (max-width: 767px) {
  .style-guide-title {
    font-size: 1.9vw; } }

.style-guide-title img, .style-guide-title svg {
  width: 4.930em; }

.style-guide-title ul {
  list-style-type: none;
  padding: 1em 1.563em;
  margin: 0; }
  .style-guide-title ul li {
    float: left;
    font-size: 1.59375em;
    line-height: 1.75;
    letter-spacing: 0.03em;
    color: #4C4948;
    margin-left: 0.8125em; }
    .style-guide-title ul li:first-child {
      margin-left: 0.588em; }
      @media screen and (max-width: 767px) {
        .style-guide-title ul li:first-child {
          margin-left: 0; } }

.style-guide-rules {
  padding: 4.625em 17.1875em 6.5625em 22.625em; }
  @media screen and (max-width: 767px) {
    .style-guide-rules {
      padding: 4.625em 1.563em 6.5625em; } }
  .style-guide-rules p, .style-guide-rules h4 {
    margin: 0 0 2.471em;
    font-size: 1.59375em;
    line-height: 1.72;
    color: #4C4948;
    letter-spacing: 0.05em;
    font-weight: 400; }
  .style-guide-rules h4 {
    margin: 0; }
  .style-guide-rules ul {
    margin: 0 0 2.471em;
    padding: 0 0 0 1.5625em;
    list-style-type: disc; }
    @media screen and (max-width: 767px) {
      .style-guide-rules ul {
        padding: 0 0 0 1.867em; } }
    .style-guide-rules ul li {
      font-size: 1.59375em;
      line-height: 1.72;
      color: #4C4948;
      letter-spacing: 0.05em; }

.style-guide-illustration {
  padding: 6.375em 0 12em 34.75em; }
  @media screen and (max-width: 767px) {
    .style-guide-illustration {
      padding: 6.375em 1.563em 12em; } }
  .style-guide-illustration .illustration-wrap {
    width: 81.25em;
    height: 46.875em; }
    @media screen and (max-width: 767px) {
      .style-guide-illustration .illustration-wrap {
        width: 100%;
        height: auto; } }
    .style-guide-illustration .illustration-wrap img {
      width: 100%; }

@media screen and (max-width: 767px) {
  .style-guide-variations {
    font-size: 1.5vw;
    margin-top: 4.167em; } }

.style-guide-variations.variation-grey ul li img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.style-guide-variations.variation-black ul li img {
  -webkit-filter: grayscale(100%) contrast(4);
  filter: grayscale(100%) contrast(4); }

.style-guide-variations.col-3 {
  padding: 7.1875em 0 7.8125em; }
  .style-guide-variations.col-3 ul {
    max-width: 104em;
    margin: 0 auto 0;
    padding: 0; }
    .style-guide-variations.col-3 ul li {
      width: auto;
      margin: 0 6.25em 13em; }
      @media screen and (max-width: 767px) {
        .style-guide-variations.col-3 ul li {
          width: 20em; } }
      .style-guide-variations.col-3 ul li p {
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        top: calc(100% + 2.632em); }

.style-guide-variations ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center; }
  .style-guide-variations ul li {
    text-align: center;
    font-size: 1em;
    display: inline-block;
    vertical-align: bottom;
    margin: 0 1.3125em 7.375em;
    position: relative; }
    .style-guide-variations ul li img {
      margin-bottom: 0.4375em; }
    .style-guide-variations ul li p {
      font-size: 1.1875em;
      line-height: 1.75;
      margin: 0 0 0.4375em;
      letter-spacing: 0.03em;
      color: #4C4948; }
      .style-guide-variations ul li p:last-child {
        margin-bottom: 0; }
      .style-guide-variations ul li p span {
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        right: 0;
        font-size: 1em;
        line-height: 1.26; }

.style-guide-drawing {
  padding-bottom: 1.875em; }
  .style-guide-drawing h1 {
    font-family: 'Palatino';
    font-size: 4.8125em;
    line-height: 1.76;
    font-weight: 400;
    color: #4C4948;
    margin: 0 0 0.429em; }
    @media screen and (max-width: 767px) {
      .style-guide-drawing h1 {
        font-size: 3.4em; } }
    .style-guide-drawing h1 img, .style-guide-drawing h1 svg {
      width: 4.935em; }
  .style-guide-drawing h4 {
    font-size: 2.375em;
    line-height: 1.68;
    color: #4C4948;
    margin: 0;
    font-weight: 400; }
    @media screen and (max-width: 767px) {
      .style-guide-drawing h4 {
        font-size: 1.59375em;
        line-height: 1.72;
        letter-spacing: 0.05em;
        width: 75%; } }
  .style-guide-drawing p {
    margin: 0 0 1.294em;
    font-size: 1.59375em;
    line-height: 1.72;
    color: #4C4948;
    letter-spacing: 0.05em;
    font-weight: 400; }
  .style-guide-drawing ol {
    margin: 0 0 0 -2.500em; }
    .style-guide-drawing ol li {
      font-size: 1.59375em;
      line-height: 1.72;
      color: #4C4948;
      letter-spacing: 0.05em;
      margin-bottom: 1.294em; }
  .style-guide-drawing .drawing-content-wrap {
    padding: 5.1875em 14.875em 2.75em 15.3125em; }
    @media screen and (max-width: 767px) {
      .style-guide-drawing .drawing-content-wrap {
        padding: 5.1875em 1.563em 2.75em; } }
  .style-guide-drawing .drawing-content {
    padding: 5em 6.25em 5em 14.375em;
    position: relative;
    z-index: 1;
    border: 1.48px solid #231815;
    margin-top: 3.4375em; }
    .style-guide-drawing .drawing-content:before {
      content: '';
      background: url("../img/character-sompony.png") no-repeat center center;
      background-size: 100% auto;
      width: 18.5625em;
      height: 18em;
      position: absolute;
      top: -15.375em;
      right: -1.125em;
      z-index: 2; }
      @media screen and (max-width: 767px) {
        .style-guide-drawing .drawing-content:before {
          width: 15.5625em;
          height: 15em;
          top: -12.9em;
          right: -1.125em; } }
    @media screen and (max-width: 767px) {
      .style-guide-drawing .drawing-content {
        padding: 5.1875em 1.563em 5.1875em; } }
    .style-guide-drawing .drawing-content .drawing-desc {
      padding-left: 7.375em; }
      @media screen and (max-width: 767px) {
        .style-guide-drawing .drawing-content .drawing-desc {
          padding-left: 2.375em; } }
  @media screen and (max-width: 767px) {
    .style-guide-drawing .drawing-angles {
      padding: 0 1.563em; } }
  .style-guide-drawing .drawing-angles p {
    padding: 0.627em 0.980em; }
    @media screen and (max-width: 767px) {
      .style-guide-drawing .drawing-angles p {
        padding: 0.627em 0; } }
  .style-guide-drawing .drawing-angles img {
    padding-left: 15.3125em;
    width: 98.0575em; }
    @media screen and (max-width: 767px) {
      .style-guide-drawing .drawing-angles img {
        width: 100%;
        padding-left: 0; } }

.style-guide-logo img {
  width: 100%; }

.message-wrapper {
  padding: 0 17.4375em;
  background: #fff;
  position: relative;
  min-height: calc(100vh - 12.4em); }
  @media screen and (max-width: 992px) {
    .message-wrapper {
      padding: 0 2.501em; } }
  @media screen and (max-width: 768px) {
    .message-wrapper {
      padding: 15px 2.501em 9em; } }
  .message-wrapper .banner-content {
    position: relative;
    z-index: 3;
    text-align: center;
    padding: 7.5em 15px 0; }
    @media screen and (max-width: 767px) {
      .message-wrapper .banner-content {
        font-size: 1.6vw; } }
    .message-wrapper .banner-content h1 {
      font-family: 'ShinGoPro', sans-serif;
      font-size: 5.6875em;
      letter-spacing: 0.135em;
      line-height: 1.3;
      color: #E73820;
      margin: 0 0 0.606em 0;
      font-weight: 400; }
      .message-wrapper .banner-content h1 svg {
        width: 9.884em;
        height: auto;
        margin: 0 auto; }
    .message-wrapper .banner-content h3 span {
      font-size: 1em !important; }
    .message-wrapper .banner-content table {
      border: 0px;
      border-collapse: collapse;
      border-spacing: 0px; }
      .message-wrapper .banner-content table td, .message-wrapper .banner-content table th {
        padding: 1em;
        border-width: 0px;
        margin: 0px;
        width: 5.625em;
        font-weight: 600; }
        .message-wrapper .banner-content table td span, .message-wrapper .banner-content table th span {
          font-size: 1em !important;
          font-weight: 400; }
  @media screen and (max-width: 992px) {
    .message-wrapper .latest-messages {
      font-size: 10px; } }
  .message-wrapper .content__latest-message {
    padding-top: 0.980em;
    padding-bottom: 0.980em;
    border-bottom: 1px solid #dadcdc;
    font-size: 1.59375em;
    line-height: 1.75;
    letter-spacing: 0.03em;
    color: #4C4948; }
    .message-wrapper .content__latest-message a {
      color: #4C4948; }
    .message-wrapper .content__latest-message .message-desc {
      padding-bottom: 1.569em; }
    .message-wrapper .content__latest-message .message-go-icon a {
      display: block;
      width: 1.098em; }
    .message-wrapper .content__latest-message .message-go-icon img {
      width: 100%; }
  .message-wrapper .sompony-messenger {
    padding: 5em 0 6.25em; }
    .message-wrapper .sompony-messenger img {
      width: 100%; }
  .message-wrapper .single-message-content {
    padding: 8em 0; }
    @media screen and (max-width: 768px) {
      .message-wrapper .single-message-content {
        padding: 2em 0; } }
    @media screen and (max-width: 767px) {
      .message-wrapper .single-message-content {
        padding: 0;
        font-size: 1.8vw; } }
    .message-wrapper .single-message-content .title {
      font-family: 'ShinGoPro', sans-serif;
      color: #E73820; }
      .message-wrapper .single-message-content .title svg {
        width: 9.884em;
        height: auto;
        margin: 0 auto; }
    .message-wrapper .single-message-content h1 {
      font-size: 4.5em;
      letter-spacing: 0.05em;
      line-height: 1.16;
      margin: 0 0 0.606em 0;
      font-weight: 400; }
      .message-wrapper .single-message-content h1 svg {
        width: 9.884em;
        height: auto;
        margin: 0 auto; }
    .message-wrapper .single-message-content h2 {
      font-size: 4.0625em;
      line-height: 1;
      margin: 0 0 0.606em 0;
      font-weight: 400; }
    .message-wrapper .single-message-content h3 {
      font-size: 3.25em;
      line-height: 1;
      margin: 0 0 0.606em 0; }
    .message-wrapper .single-message-content h4 {
      font-size: 2em;
      line-height: 1;
      margin: 0 0 0.606em 0; }
    .message-wrapper .single-message-content h5 {
      font-size: 1.25em;
      line-height: 1;
      margin: 0 0 0.606em 0; }
    .message-wrapper .single-message-content p, .message-wrapper .single-message-content a {
      font-size: 1.59375em;
      line-height: 1.75;
      letter-spacing: 0.03em;
      color: #4C4948; }
    .message-wrapper .single-message-content p a {
      font-size: 1em; }
    .message-wrapper .single-message-content p img {
      max-width: 100%;
      height: auto !important; }
    .message-wrapper .single-message-content .message-date {
      margin: 0 0 0.606em 0; }
      .message-wrapper .single-message-content .message-date p {
        float: left; }
      .message-wrapper .single-message-content .message-date a {
        float: right; }
      .message-wrapper .single-message-content .message-date .icon-download {
        display: inline-block;
        margin-right: 1em;
        width: 0.9em; }
        .message-wrapper .single-message-content .message-date .icon-download svg, .message-wrapper .single-message-content .message-date .icon-download img {
          width: 100%; }
    .message-wrapper .single-message-content .back-to-top {
      position: absolute;
      bottom: 2em; }
      .message-wrapper .single-message-content .back-to-top a {
        font-size: 1.59375em;
        line-height: 1.75;
        letter-spacing: 0.03em;
        color: #E73820; }

.page-game .main {
  height: 100vh; }
  @media only screen and (max-width: 767px) {
    .page-game .main {
      height: 100%; } }

.page-game footer {
  display: none; }
  @media only screen and (max-width: 767px) {
    .page-game footer {
      display: block;
      position: relative !important; } }
